.fabSpeedDialdemoBasicUsage .text-capitalize {
    text-transform: capitalize; }
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
    background-color: #000 !important; }
.fabSpeedDialdemoBasicUsage p.note {
    font-size: 1.2rem; }
.fabSpeedDialdemoBasicUsage .lock-size {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto; }

.fl-up .percent {
    position: absolute;
    width: 300px;
    height: 14px;
    z-index: 1;
    text-align: center;
    font-size: 0.8em;
    color: white;
}

.fl-up .progress-bar {
    width: 300px;
    height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
}

.fl-up .uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
}

.fl-up .dropbox {
    width: 100%;
    height: 200px;
    border: 1px solid #DDD;
    border-radius: 8px;
    background-color: #f7f7f7;
    background-image: url('../img/upload-bg.png');
    background-repeat: no-repeat;
    /*background-position: 482px 90px;*/
    background-position: center 40%;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    margin-bottom: 10px;
    position: relative;
}


.fl-up .dropbox span.drop-txt {
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(50% + 50px);
    left: 0;
    padding-left: 25px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.fl-up .dropbox.not-available {
    background-color: #F88;
}

.fl-up .dropbox.over {
    background-color: #bfb;
}

.fl-up .fl-block {
    padding: 20px 15px;
    vertical-align: top;
}

.fl-up .up-file-icon {
    font-size: 40px;
}

.fl-up .up-file-nm {
    font-size: 13px;
    line-height: 1em;
}

.fl-up .txt-note {
    margin-left: 6px;
}

.fl-up .shw-uploaded {
    float: left;
    position: relative;
}

.fl-up .fl-up-cont {
    position: absolute;
    right: 16px;
    width: 56%;
    height: 348px;
    float: right;
}

.fl-up .fl-up-cont p {
    font-size: 12px;
    text-align: left;
}

.fl-up .fl-up-cont .modal-body {
    max-height: 290px;
    padding: 0px;
    border: 1px solid #ccc;
    overflow: auto;
}

.fl-up .fl-up-cont .modal-body pre {
    border: none;
    overflow: visible;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

.inputdemoErrors .inputErrorsApp {
    min-height: 48px; }


.map_container{
    min-height: 300px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    max-height: 300px;
}

.md-toast.error {
    background-color: red;
    position: fixed;
    height: auto;
    max-height: inherit
}

.md-toast.success {
    background-color: #4ce859;
    position: fixed;
    height: auto;
    max-height: inherit
}

.md-toast.warning {
    background-color: yellow;
    position: fixed;
    height: auto;
    max-height: inherit
}

.angular-google-map-container {
    height: 300px  !important;
    width: 100% !important;
}

.message-container{
    padding-top: 5px;
    border-top: solid 1px #fdfcbc;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.ta-hidden-input{
    display: none;
}

.vertical-center{
    vertical-align: baseline;
}

.message-select-li{
    background: gainsboro;
}

.accord-head{
    font-weight: 200;
    padding: 10px 15px;
    text-transform: lowercase;
}

.unread{
    background: gold;
}



.expande-list, .expande-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}
.expande-list li {
    margin: 0
}
.expande-list .expande {
    float: right;
    cursor: pointer;
    padding: 0 8px;
    font-family: Verdana, Arial, Helvetica, sans-serif
}
.expande-list .name {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 7px 0 6px
}
.expande-list ul .name {
    padding-left: 21px
}
.expande-list ul ul .name {
    padding-left: 42px
}
.expande-list ul ul ul .name {
    padding-left: 63px
}
.expande-list .last>.name {
    border: none
}

.expand-select-text{
    font-weight: bold
}


.sample-show-hide {
  padding:10px;
  background:white;
}

.sample-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}


.option-expande {
    float: right;
    cursor: pointer;
    padding: 0 8px;
    font-family: Verdana, Arial, Helvetica, sans-serif
}
.option-name {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 7px 0 6px
}









.facebookShare {
    border: none;
    visibility: visible;
    width: auto;
    height: 22px;
    background: transparent;
    overflow: hidden;
    -webkit-text-size-adjust: none;
    color: #333;
    line-height: 1.28;
    margin: 0;
    padding: 0;
    text-align: left;
    direction: ltr;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    display: inline-block;
}
.facebookShare:hover .facebookButton .pluginButton,
.facebookShare:active .facebookButton .pluginButton,
.facebookShare:focus .facebookButton .pluginButton {
    background: #5b7bd5;
    background: -moz-linear-gradient(top, #5b7bd5 0%, #4864b1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b7bd5), color-stop(100%, #4864b1));
    background: -webkit-linear-gradient(top, #5b7bd5 0%, #4864b1 100%);
    background: -o-linear-gradient(top, #5b7bd5 0%, #4864b1 100%);
    background: -ms-linear-gradient(top, #5b7bd5 0%, #4864b1 100%);
    background: linear-gradient(to bottom, #5b7bd5 0%, #4864b1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b7bd5', endColorstr='#4864b1', GradientType=0);
    border-color: #5874c3 #4961a8 #41599f;
    box-shadow: inset 0 0 1px #607fd6;
}
.facebookShare .facebookButton {
    color: #3b5998;
    text-decoration: none;
    font-size: 11px;
    text-align: left;
    display: inline-block;
    width: 55px;
}
.facebookShare .facebookButton .pluginButton {
    background: #4c69ba;
    background: -moz-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c69ba), color-stop(100%, #3b55a0));
    background: -webkit-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
    background: -o-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
    background: -ms-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
    background: linear-gradient(to bottom, #4c69ba 0%, #3b55a0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c69ba', endColorstr='#3b55a0', GradientType=0);
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-shadow: 0 -1px 0 #354c8c;
    white-space: nowrap;
}
.facebookShare .facebookButton .pluginButton .pluginButtonContainer {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.004);
}
.facebookShare .facebookButton .pluginButton .pluginButtonContainer .pluginButtonImage {
    display: inline-block;
}
.facebookShare .facebookButton .pluginButton button {
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    margin: -1px;
    outline: none;
    padding: 0;
    text-shadow: 0 -1px 0 #354c8c;
}
.facebookShare .facebookButton .pluginButton button .pluginButtonIcon {
    height: 14px;
    left: 0;
    margin: 0 4px 0 4px;
    position: relative;
    top: 3px;
    vertical-align: top;
    width: 14px;
}
.facebookShare .facebookButton .pluginButton button .sp_plugin-button-2x {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/KxVPs0eEy36.png);
    background-size: 30px 72px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    width: 14px;
}
.facebookShare .facebookButton .pluginButton button .sx_plugin-button-2x_favblue {
    background-position: 0 -42px;
}
.facebookShare .facebookButton .pluginButton button i.img {
    -ms-high-contrast-adjust: none;
    _overflow: hidden;
}
.facebookShare .facebookButton .pluginButton .pluginButtonLabel {
    padding: 0 5px 0 0;
    position: relative;
    vertical-align: top;
}
.facebookShare .facebookCount {
    display: inline-block;
    width: auto;
}
.facebookShare .facebookCount .pluginCountButton {
    background: white;
    border: 1px solid #bbb;
    border-radius: 3px;
    color: #6a7180;
    display: inline-block;
    font-size: 11px;
    height: auto;
    line-height: 18px;
    margin-left: 6px;
    min-width: 15px;
    padding: 0 3px;
    text-align: center;
    white-space: nowrap;
}
.facebookShare .facebookCount .pluginCountButton span {
    display: inline-block;
    min-height: 12px;
    min-width: 4px;
    color: #333;
}
.facebookShare .facebookCount .pluginCountButtonNub {
    height: 0;
    left: 2px;
    position: relative;
    top: -15px;
    width: 5px;
    z-index: 2;
}
.facebookShare .facebookCount .pluginCountButtonNub s,
.facebookShare .facebookCount .pluginCountButtonNub i {
    border-color: transparent #bbb;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    display: block;
    position: relative;
    top: 1px;
}
.facebookShare .facebookCount .pluginCountButtonNub i {
    border-right-color: #fff;
    left: 2px;
    top: -7px;
}
@-moz-document url-prefix() {
    .facebookShare .facebookButton .pluginButton button .pluginButtonIcon {
        margin: 0 1px;
    }
}
.linkedinShare {
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    border: 0;
    text-decoration: none;
    height: 20px;
    cursor: pointer;
}
.linkedinShare:hover .linkedinButton .pluginButtonLabel,
.linkedinShare:active .linkedinButton .pluginButtonLabel,
.linkedinShare:focus .linkedinButton .pluginButtonLabel {
    border: 1px solid #000;
    border-top-color: #ABABAB;
    border-right-color: #9A9A9A;
    border-bottom-color: #787878;
    border-left-color: #04568B;
    border-left: 0;
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #dedede));
    background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: -o-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: -ms-linear-gradient(top, #ededed 0%, #dedede 100%);
    background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dedede', GradientType=0);
}
.linkedinShare .linkedinButton {
    display: inline-block;
    width: 59px;
    height: 20px;
    padding: 0;
    margin: 0;
}
.linkedinShare .linkedinButton .pluginButtonImage {
    background-image: url(https://www.linkedin.com/scds/common/u/images/apps/connect/sprites/sprite_connect_v14.png);
    background-position: 0px -276px;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0;
    text-indent: -9999em;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    color: #069;
}
.linkedinShare .linkedinButton .pluginButtonLabel {
    color: #333;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    float: left;
    margin-left: 1px;
    overflow: hidden;
    text-align: center;
    height: 18px;
    padding: 0 4px 0 23px;
    border: 1px solid #000;
    border-top-color: #E2E2E2;
    border-right-color: #BFBFBF;
    border-bottom-color: #B9B9B9;
    border-left-color: #E2E2E2;
    border-left: 0;
    text-shadow: #ffffff -1px 1px 0;
    line-height: 20px;
    border-radius: 2px;
    background-color: #ECECEC;
    background: -moz-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #ececec));
    background: -webkit-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#ececec', GradientType=0);
}
.linkedinShare .linkedinButton .pluginButtonLabel span {
    color: #333;
    font-size: 11px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    background: transparent none;
    vertical-align: top;
    height: 18px;
    line-height: 20px;
    float: none;
}
.linkedinShare .linkedinCount {
    padding: 0px;
    margin: 0px;
    text-indent: 0px;
    display: inline-block;
    vertical-align: baseline;
}
.linkedinShare .linkedinCount .pluginCountButton {
    display: inline-block;
    overflow: visible;
    position: relative;
    height: 18px;
    padding-left: 2px;
}
.linkedinShare .linkedinCount .pluginCountButton .pluginCountButtonRight {
    display: block;
    float: left;
    height: 18px;
    padding-right: 4px;
    background-image: url(https://www.linkedin.com/scds/common/u/images/apps/connect/sprites/sprite_connect_v14.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right -100px;
}
.linkedinShare .linkedinCount .pluginCountButton .pluginCountButtonRight .pluginCountButtonLeft {
    display: block;
    float: left;
    padding-left: 8px;
    text-align: center;
    background-image: url(https://www.linkedin.com/scds/common/u/images/apps/connect/sprites/sprite_connect_v14.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px -60px;
}
.linkedinShare .linkedinCount .pluginCountButton .pluginCountButtonRight .pluginCountButtonLeft span {
    display: inline;
    font-size: 11px;
    color: #04558B;
    font-weight: bold;
    font-family: Arial, sans-serif;
    line-height: 18px;
    padding: 0 2px;
}

.round-img-icon {
    float: left;
    margin-right: 6px;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.blog-text-color {
    color:white !important;
    background-color: transparent !important;
}

.blog-text-color > p {
    color:white !important;
    background-color: transparent !important;
}

.blog-text-color > p > span {
    color:white !important;
    background-color: transparent !important;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.tag {
    background: #ff6683;
    border-radius: 3px 0 0 3px;
    color: #f2f2f2;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #ff6683;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: crimson;
    color: white;
}

.tag:hover::after {
    border-left-color: crimson;
}

.tag-other {
    background: #d9534f;
    border-radius: 3px 0 0 3px;
    color: #f2f2f2;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag-other::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag-other::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #d9534f;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag-other:hover {
    background-color: #9a9ca6;
    color: white;
}

.tag-other:hover::after {
    border-left-color: #9a9ca6;
}



ul#wizardStatus{
  list-style:none;
  margin:15px 0;
  padding:0;
  text-align:center;
}

ul#wizardStatus li{
  background-color:#d9d9ce;
  color:#3d4c4f;
  display:inline-block;
  margin:0;
  font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size:14px;
  line-height:40px;
  padding:0 25px 0 40px;
  position:relative
}

ul#wizardStatus li:first-child{
  padding-left:25px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px
}

ul#wizardStatus li:last-child{
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px
}

ul#wizardStatus li:after,
ul#wizardStatus li:before {
  background-color:#d9d9ce;
  content:"";
  display:block;
  position:absolute
}

ul#wizardStatus li:after{
  -webkit-border-radius:3px;
  border-radius:3px;
  border-right:3px solid white;
  border-top:3px solid white;
  height:32px;
  right:-15px;
  top:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  width:32px;
  z-index:5
}

ul#wizardStatus li:before{
  height:30px;
  right:3px;
  width:20px;
  z-index:6
}

ul#wizardStatus li:last-child:after,
ul#wizardStatus li:last-child:before{
  display:none
}

ul#wizardStatus li.current{
  background-color:#f76480;
  color:#fff;
}

ul#wizardStatus li.current:after,
ul#wizardStatus li.current:before{
  background-color:#f76480
}

ul#wizardStatus li.completed{
  background-color:#a9a1a1;
  color:#fff;
}

ul#wizardStatus li.completed:after,
ul#wizardStatus li.completed:before{
  background-color:#a9a1a1
}

/*Imarsha Custom styles*/

.form-signin .username {
    margin-bottom: 12px;
}

.breadcrumb {
    margin-right: 50px;
}
