<ul class="bxslider">
    <li ng-repeat="slide in slides" on-finish-render="test">
        <div class="product"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="{{slide[0].src}}" alt=""></a>
            <p class="name"><a href="product_default.html" class="preview-image">Layered Cami Dress Black</a></p>
            <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="price">Rs 1500</span> </div>

        <div class="product"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="{{slide[1].src}}" alt=""></a>
            <p class="name"><a href="product_default.html" class="preview-image">Layered Cami Dress Black</a></p>
            <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="price">Rs 1500</span> </div>

        <div class="product"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="{{slide[2].src}}" alt=""></a>
            <p class="name"><a href="product_default.html" class="preview-image">Layered Cami Dress Black</a></p>
            <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="price">Rs 1500</span> </div>

    </li>
</ul>