<div>
    <md-content class="md-padding">
        <accordion close-others="true">
            <accordion-group ng-repeat="blog in blogs">
                <accordion-heading>
                    <img alt="{{ shop.name }}" src="shop.iconImage" class="md-avatar" /> I can have markup, too! <i class="pull-right glyphicon" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-up': !status.open}"></i>
                </accordion-heading>
                <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
            </accordion-group>
        </accordion>

    </md-content>
</div>

