<div>
    <md-content class="md-padding">
        <md-button class="md-raised md-primary" ng-click="addNew = true"><md-icon md-svg-src="add-circle"></md-icon> Add New Blog</md-button>
        <div ng-show="addNew">
            <div class="raw">
                <div class="col-md-4">
                    <div>
                        <trendi-file-upload files="blogImage" image-size="blogImageSize"  image-count="blogImageCount"></trendi-file-upload>
                    </div>
                </div>
                <div class="col-md-8"><div text-angular="text-angular" name="{{blogData.title}}" ng-model="blogData.contents" ta-disabled='false'></div></div>
            </div>
            <div class="row">
                <div>
                    <md-button  class="md-raised md-primary" ng-click="add()" md-autofocus>
                        Save
                    </md-button>
                    <span flex></span>
                    <md-button ng-click="addNew = false" style="margin-right:20px;" >
                        Close
                    </md-button>
                </div>
            </div>
        </div>
        <accordion close-others="true">
            <div infinite-scroll='paginationFuntion()' infinite-scroll-distance='0.01'>
                <accordion-group ng-repeat-start="blog in blogs" is-open="blog.open" >
                <accordion-heading >
                    <i  ng-click="setImage(blog)" class="pull-right glyphicon" ng-class="{'fa fa-times': blog.open, 'fa fa-pencil': !blog.open}"></i>
                </accordion-heading>
                <div class="raw">
                    <div class="col-md-4">
                        <div>
                            <trendi-file-upload files="blogImage" image-size="blogImageSize"  image-count="blogImageCount"></trendi-file-upload>
                        </div>
                    </div>
                    <div class="col-md-8"><div text-angular="text-angular" name="{{blog.title}}" ng-model="blog.contents" ta-disabled='false'></div></div>
                </div>
                <div class="row">
                    <div>
                        <md-button  class="md-raised md-primary" ng-click="update(blog)" md-autofocus>
                            Update
                        </md-button>
                        <span flex></span>
                        <md-button class="md-raised md-warn" ng-disabled="btnPressed" ng-click="remove(blog)" >
                            Remove
                        </md-button>
                        <span flex></span>
                        <md-button ng-click="close(blog)" style="margin-right:20px;" >
                            Close
                        </md-button>
                    </div>
                </div>
            </accordion-group>
            <div ng-repeat-end>
                <div ng-hide="blog.open">
                    <div class="image-cell"><a href="blog.html"><img ng-src="{{blog.img}}" class="img-responsive animate scale" alt=""></a></div>
                    <div class="offset-image">
                        <h4><a>{{ blog.title}}</a></h4>
                        <p> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> &nbsp;&nbsp; <a href="blog.html">5 Comments</a> </p>
                        <p ng-bind-html="blog.contents"></p>
                    </div>
                </div>
            </div>
            </div>
            

        </accordion>

    </md-content>
</div>

