<div>
    <md-content class="md-padding">
        <div class="container">
            <h3 class="page-title">
                MESSAGE
                <small>Supply &nbsp <span class="fa fa-link"></span> &nbsp Chain</small>
            </h3>

            <div class="raw message-container">
                <div class="col-md-3 message">
                    <ul class="list-group ">
                        <li class="list-group-item">
                            <a href="#"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger pull-right">2</span></a>
                        </li>
                        <li class="list-group-item">
                            <a href="#"><i class="fa fa-envelope"></i> Sent Mail</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#"><i class=" fa fa-external-link"></i> Drafts <span class="label label-info pull-right">30</span></a>
                        </li>
                        <li class="list-group-item">
                            <a href="#"><i class=" fa fa-trash"></i> Trash</a>
                        </li>
                    </ul>

                </div>
                <aside class="col-md-9">
                    <div class="inbox-head">
                        <div class="mail-option">
                            <div class="pull-left all-check">
                                <label class="checkbox-custom check-success">
                                    <input type="checkbox" value="check-all" id="checkbox1"> <label for="checkbox1"> </label>
                                </label>
                            </div>

                            <div class="btn-group">
                                <a class="btn mini tooltips" href="#" data-toggle="dropdown" data-placement="top" data-original-title="Refresh">
                                    <i class=" fa fa-refresh"></i>
                                </a>
                            </div>

                            <div class="btn-group">
                                <a class="btn" href="#">
                                    <i class=" fa fa-archive"></i>
                                </a>
                                <a class="btn" href="#">
                                    <i class=" fa fa-info-circle"></i>
                                </a>
                                <a class="btn" href="#">
                                    <i class=" fa fa-trash"></i>
                                </a>
                            </div>

                            <div class="btn-group">
                                <a class="btn" href="#">
                                    <i class=" fa fa-folder"></i>
                                </a>
                                <a class="btn" href="#">
                                    <i class=" fa fa-tag"></i>
                                </a>
                            </div>


                            <div class="btn-group hidden-phone">
                                <a class="btn mini blue" href="#" data-toggle="dropdown">
                                    More
                                    <i class="fa fa-angle-down "></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <div class="inbox-body no-pad">

                        <table class="table table-inbox table-hover">
                            <tbody lazy-scroll="paginationFuntion()" lazy-scroll-trigger="80">
                            <tr ng-repeat="message in messages"  class="unread">
                                <td class="inbox-small-cells">
                                    <label class="checkbox-custom check-success">
                                        <input type="checkbox" value="c1" id="c1"> <label for="c1"> </label>
                                    </label>
                                </td>
                                <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                                <td>
                                    <a href="#" class="avatar">
                                        <img src="img/img1.jpg" alt="">
                                    </a>
                                </td>
                                <td class="view-message  dont-show">Vector Lab</td>
                                <td class="view-message ">Lorem ipsum dolor imit set.</td>
                                <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                <td class="view-message  text-right">9:27 AM</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </aside>
            </div>

        </div>
    </md-content>
</div>