<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form novalidate="" name="itemForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Compose Mail</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div><h3>{{rplyMail.subject}}</h3>
                    <accordion close-others="true">
                        <accordion-group  is-open="open" ng-init="undefined == rplyMail.REPLY?open=true:open=false">
                            <accordion-heading><div class="accord-head" ng-show="!open"><span><i><b>{{rplyMail.from}}</b></i></span></br><span>{{rplyMail.message | htmlToPlaintext}}</span>  </div> </accordion-heading>
                            <div>
                                <h6><span >{{rplyMail.from}}</span></h6>
                                <p ng-bind-html="rplyMail.message"></p>
                            </div>
                        </accordion-group>
                        <accordion-group ng-repeat="replyMails in rplyMail.REPLY" is-open="repOpen" ng-init="rplyMail.REPLY.length() == $index?repOpen=true:repOpen=false">
                            <accordion-heading><div class="accord-head" ng-show="!repOpen"><span><i><b>{{replyMails.from}}</b></i></span> </br> <span>{{replyMails.message | htmlToPlaintext}}</span>  </div> </accordion-heading>
                            <div>
                                <h6><span >{{replyMails.from}}</span></h6>
                                <p ng-bind-html="replyMails.message"></p>
                            </div>
                        </accordion-group>
                    </accordion>
                    <div class="col-md-12">
                        <div text-angular="text-angular" name="message" ng-model="replyMail.message" ta-disabled='false'></div>
                        <md-button ng-click="answer(replyMail)" class="md-raised md-primary">
                            Reply
                        </md-button>
                        <md-button ng-click="cancel()" style="margin-right:20px;">
                            Cancel
                        </md-button>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>