<!DOCTYPE html>
<html class="no-js" ng-app="mainAdminModule">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="admin-themes-lab">
    <meta name="author" content="themes-lab">
    <link rel="shortcut icon" href="/admin/assets/global/images/favicon.png" type="image/png">
    <title>Make | Admin Template</title>
    <link href="/css/admin_css/style.css" rel="stylesheet">
    <link href="/css/admin_css/theme.css" rel="stylesheet">
    <link href="/css/admin_css/ui.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
    <link href="/css/admin_css/bootstrap.min.css" rel="stylesheet">
    <link href="/javascripts/libs/angular-summernote/dist/summernote.css" rel="stylesheet">
    <link href="/javascripts/libs/angular-ui-select/dist/select.min.css" rel="stylesheet">
    <link href="/javascripts/libs/angular-ui-select/dist/select2.css" rel="stylesheet">
    <link href="/javascripts/libs/angular-ui-select/dist/selectize.default.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/angular-material.min.css'/>


    <link href="/css/admin_css/test.css" rel="stylesheet">
</head>
<body class="sidebar-top fixed-topbar fixed-sidebar theme-sdtl color-default">
<ui-view>

</ui-view>



        <!-- END CUSTOM ANGULARJS SCRIPTS -->
<script type="text/javascript" src="/javascripts/libs/admin_cutom_lib/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/admin_cutom_lib/jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/admin_cutom_lib/jquery-ui/jquery-ui-1.11.2.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/admin_cutom_lib/jquery-cookies/jquery.cookies.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/admin_cutom_lib/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/bootstrap/dist/js/bootstrap.min.js"></script>

        
<script type="text/javascript" src="/javascripts/libs/angular-summernote/dist/summernote.js"></script>
<script type="text/javascript" src="/javascripts/libs/crypto/tripledes.js"></script>
<script type="text/javascript" src="/javascripts/libs/angular/angular.js"></script>
<script type="text/javascript" src="/javascripts/libs/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/textAngular/dist/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/angular-touch/angular-touch.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/angular-bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="/javascripts/libs/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="/javascripts/libs/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/underscore/underscore.js"></script>
<script type="text/javascript" src="/javascripts/libs/ngstorage/ngStorage.js"></script>
<script type="text/javascript" src="/javascripts/libs/angular-ui-select/dist/select.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/angular-logger/index.js"></script>
<script type="text/javascript" src="/javascripts/libs/angular-google-maps/angular-google-maps.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="/javascripts/libs/owl-slider/owlSlider.js"></script>

<script type="text/javascript" src='/javascripts/libs/textAngular/dist/textAngular-rangy.min.js'></script>
<script type="text/javascript" src="/javascripts/libs/textAngular/dist/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src='/javascripts/libs/textAngular/dist/textAngular.min.js'></script>
<script type="text/javascript" src="/javascripts/libs/angular-summernote/dist/angular-summernote.js"></script>


<!--Application CUSTOM JS-->


<script type="text/javascript" src="/javascripts/config/appConfigAdmin.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminModule/index.js"></script>
<script type="text/javascript" src="/javascripts/libs/admin_cutom_lib/pages/layouts_api.js"></script>
<script type="text/javascript" src="/javascripts/libs/admin_cutom_lib/app/builder.js"></script>
<script type="text/javascript" src="/javascripts/libs/admin_cutom_lib/app/application.js"></script>
<script type="text/javascript" src="/javascripts/libs/admin_cutom_lib/app/plugins.js"></script>


<script type="text/javascript" src="/javascripts/modules/adminModule/config.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminModule/controller.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminModule/directive.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminModule/factories.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminModule/filters.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminModule/services.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminModule/models.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminModule/sysController.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminModule/sysModels.js"></script>

<script type="text/javascript" src="/javascripts/modules/adminAuthModule/index.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminAuthModule/config.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminAuthModule/controller.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminAuthModule/directive.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminAuthModule/factories.js"></script>
<script type="text/javascript" src="/javascripts/modules/adminAuthModule/service.js"></script>




</body>
</html>