<ul class="sf-menu">
    <li><a href="#">Women</a>
        <ul>
            <li><a ng-click="clickMenu('T-shirts')">T-shirts</a></li>
            <li><a ng-click="clickMenu('Jeans')">Jeans</a></li>
            <li><a ng-click="clickMenu('Pants')">Pants</a></li>
            <li><a ng-click="clickMenu('Shorts')">Shorts</a></li>
            <li><a ng-click="clickMenu('Accesories')">Accesories</a></li>
            <li><a ng-click="clickMenu('Foot-Wear')">Foot Wear</a></li>
            <li><a ng-click="clickMenu('Formal-Wear')">Formal Wear</a></li>
        </ul>
    </li>
</ul>