<ul class="expander-list">
    <li> <span class="name"><span class="expander">-</span> <a href="index.html">Home</a></span>
    </li>
    <li> <span class="name"><span class="expander">-</span> <a href="index.html">Women</a></span>
        <ul>
            <li> <span class="name"><a ng-click="clickMenu('T-shirts')">T-shirts</a></span></li>
            <li> <span class="name"><a ng-click="clickMenu('Jeans')">Jeans</a></span></li>
            <li> <span class="name"><a ng-click="clickMenu('Pants')">Pants</a></span></li>
            <li> <span class="name"><a ng-click="clickMenu('Shorts')">Shorts</a></span></li>
            <li> <span class="name"><a ng-click="clickMenu('Accesories')">Accesories</a></span></li>
            <li> <span class="name"><a ng-click="clickMenu('Foot-Wear')">Foot Wear</a></span></li>
            <li> <span class="name"><a ng-click="clickMenu('Formal-Wear')">Formal Wear</a></span></li>
        </ul>
    </li>
    <li> <span class="name"><span class="expander">-</span> <a href="listing.html">Men </a></span>
        <ul>
            <li> <span class="name"><a href="#"> T-shirts </a></span></li>
            <li> <span class="name"><a href="#"> Shirts </a> </span></li>
            <li> <span class="name"><a href="#"> Denims </a></span> </li>
            <li> <span class="name"><a href="#"> Shoes </a></span></li>
        </ul>
    </li>
    <li> <span class="name"><span class="expander">-</span> <a href="product_default.html">Kids</a></span>
        <ul>
            <li> <span class="name"><a href="#">T-shirts </a> </span></li>
            <li> <span class="name"><a href="#">Frocks</a> </span></li>
            <li> <span class="name"><a href="#">Toys</a></span></li>
            <li> <span class="name"><a href="#">Other</a></span></li>

        </ul>
    </li>
    <li> <span class="name"><span class="expander">-</span> <a href="blog.html">Today's deals</a></span>
    </li>
    <li> <span class="name"><span class="expander">-</span> <a href="gallery_3d.html">Offers</a></span>
    </li>
    <li> <span class="name"><span class="expander">-</span> <a href="typography.html">Shops</a></span>
        <ul>
            <li><span class="name"><a href="#">Odel</a></span></li>
            <li><span class="name"><a href="#">Kelly Felder</a></span></li>
            <li><span class="name"><a href="#">Nills</a></span></li>
            <li><span class="name"><a href="#">Keko</a></span></li>
            <li><span class="name"><a href="#">Queens</a></span></li>
            <li><span class="name"><a href="#">Prince</a></span></li>
        </ul>
    </li>
    <li> <span class="name"> <span class="expander">-</span> <a href="listing.html">Promotions</a> </span>
        <ul>
            <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-dress"></span>Dresses</a> </span>
                <ul>
                    <li><span class="name"><a href="#">Club Dresses</a></span></li>
                    <li><span class="name"><a href="#">Evening Dresses</a></span></li>
                    <li><span class="name"><a href="#">Prom Dresses</a></span></li>
                </ul>
            </li>
            <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-shirts"></span>Shirts</a> </span>
                <ul>
                    <li><span class="name"><a href="#">Empty category #1</a></span></li>
                    <li><span class="name"><a href="#">Empty category #2</a></span></li>
                    <li><span class="name"><a href="#">Empty category #3</a></span></li>
                </ul>
            </li>
            <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-coats"></span>Coats</a> </span>
                <ul>
                    <li><span class="name"><a href="#">Empty category #4</a></span></li>
                    <li><span class="name"><a href="#">Empty category #5</a></span></li>
                    <li><span class="name"><a href="#">Empty category #6</a></span></li>
                </ul>
            </li>
            <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-jackets"></span>Jackets</a> </span>
                <ul>
                    <li><span class="name"><a href="#">Empty category #7</a></span></li>
                    <li><span class="name"><a href="#">Empty category #8</a></span></li>
                    <li><span class="name"><a href="#">Empty category #9</a></span></li>
                </ul>
            </li>
            <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-shorts"></span>Shorts</a> </span>
                <ul>
                    <li><span class="name"><a href="#">Empty category #10</a></span></li>
                    <li><span class="name"><a href="#">Empty category #11</a></span></li>
                    <li><span class="name"><a href="#">Empty category #12</a></span></li>
                </ul>
            </li>
            <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-jeans"></span>Jeans</a> </span>
                <ul>
                    <li><span class="name"><a href="#">Empty category #10</a></span></li>
                    <li><span class="name"><a href="#">Empty category #11</a></span></li>
                    <li><span class="name"><a href="#">Empty category #12</a></span></li>
                </ul>
            </li>
            <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-skirts"></span>Skirts</a> </span>
                <ul>
                    <li><span class="name"><a href="#">Empty category #16</a></span></li>
                    <li><span class="name"><a href="#">Empty category #17</a></span></li>
                </ul>
            </li>
            <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-lingerie"></span>Lingerie</a> </span>
                <ul>
                    <li><span class="name"><a href="#">Empty category #18</a></span></li>
                    <li><span class="name"><a href="listing.html">Empty category #19</a></span></li>
                    <li><span class="name"><a href="listing.html">Empty category #20</a></span></li>
                </ul>
            </li>
            <li><span class="name"><a href="listing.html"><span class="icon m-icon-tops"></span>Tops</a></span>
                <ul>
                    <li><span class="name"><a href="listing.html">Empty category #21</a></span></li>
                    <li><span class="name"><a href="listing.html">Empty category #22</a></span></li>
                    <li><span class="name"><a href="listing.html">Empty category #23</a></span></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><span class="name"><a href="#">Special Offers</a></span></li>
    <li><span class="name"><a href="#">Contacts</a></span></li>
</ul>