<div class="mobile-nav row" >
    <div class="nav-item item-01"><a id="off-canvas-menu-toggle"><span class="icon icon-list-4"></span></a>
        <!--<nav id="off-canvas-menu" >
            <div id="off-canvas-menu-title">MENU<span class="icon icon-cancel-3" id="off-canvas-menu-close"></span></div>
            <trendi-expand-menu></trendi-expand-menu>
        </nav>-->
        <div class="tab-content">
            <ul class="menu-list">
                <trendi-expand-menu></trendi-expand-menu>
            </ul>
        </div>
    </div>
    <div class="nav-item item-02"><a><span class="icon icon-vcard"></span></a>
        <div class="tab-content">
            <ul class="menu-list">
                <li><a href="#">Account</a></li>
                <li><a href="login.html">Log In</a></li>
                <li><a href="login.html">Sign Up</a></li>
            </ul>
        </div>
    </div>
    <div class="nav-item item-03"><a><span class="icon icon-search-2"></span></a>
        <div class="tab-content"> <!-- Search -->
            <form class="navbar-search form-inline" role="form">
                <div class="form-group">
                    <button type="submit" class="button"><span class="icon-search-2"></span></button>
                    <input type="text" class="form-control" value="Search" onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if(this.value == 'Search') {this.value = '';}">
                </div>
            </form>
            <!-- //end Search -->
        </div>
    </div>
    <div class="nav-item item-04"><a><span class="icon-xcart-white">{{bagItemCount}}</span></a>
        <trendi-bag template="main.bag.mobile" list-size="bagItemCount"></trendi-bag>
    </div>

</div>