<div class="mobile-nav row" >
    <div class="nav-item item-01"><a id="off-canvas-menu-toggle"><span class="icon icon-list-4"></span></a>
    </div>
    <div class="nav-item item-02"><a><span class="icon icon-vcard"></span></a>
        <div class="tab-content">
            <ul class="menu-list">
                <li><a >Account</a></li>
                <li><a ng-click="menuFunc.gotoMessage()">Message</a></li>
                <li><a ng-click="menuFunc.loginOpen()">{{menuFunc.checkLogin()?'Log Out':'Log In'}}</a></li>
            </ul>
        </div>
    </div>
    <div class="nav-item item-03"><a><span class="icon icon-search-2"></span></a>
        <div class="tab-content"> <!-- Search -->
            <form class="navbar-search form-inline" role="form">
                <div class="form-group">
                    <button type="submit"  ng-click="menuFunc.searchTerm()" class="button"><span class="icon-search-2"></span></button>
                    <input type="text" class="form-control" placeholder="Search" ng-keyup="menuFunc.searchType($event)" ng-model="menuFunc.searchKey">
                </div>
            </form>
            <!-- //end Search -->
        </div>
    </div>
    <div class="nav-item item-04"><a><span class="icon-xcart-white">{{bagItemCount}}</span></a>
        <trendi-bag template="main.bag.mobile" list-size="bagItemCount"></trendi-bag>
    </div>

</div>