<ul class="expander-list" >
    <li> <span class="name"> <a ng-click="menuFunc.homeClick(0)">Home</a></span>
    </li>
    <li> <span class="name"><span class="expander">-</span> <a ng-click="menuFunc.gotoShop()">Shops</a></span>
        <ul>
            <li ng-repeat="shop in menuFunc.shopList"> <span class="name"><a ng-href="#/main/shop?shopId={{shop.shopId}}">{{shop.name}}</a></span></li>
        </ul>
    </li>
    <li> <span class="name"><span class="expander">-</span> <a ng-click="menuFunc.gotoBank()">Offers</a></span>
        <ul>
            <li ng-repeat="bank in menuFunc.bankList"> <span class="name"><a ng-href="#/main/offers?bank={{bank.name}}">{{bank.name}}</a></span></li>
        </ul>
    </li>
    <li><span class="name"><a ng-click="menuFunc.gotoContact()">Contacts</a></span></li>
</ul>