<div class="owl-carousel">
    <div ng-repeat="slide in slides" on-finish-render="test">
        <div class="image-cell"><a href="blog.html"><img src="{{slide.src}}" class="img-responsive animate scale" alt=""></a></div>
        <div class="offset-image">
            <h4><a href="blog.html">THESE ARE THE 50 MOST POPULAR LIP COLORS AROUND THE WORLD</a></h4>
            <p> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> &nbsp;&nbsp; <a href="blog.html">5 Comments</a> </p>
            <p>London's Heathrow airport is more than just an international travel hub, it's also a major shopping destination, boasting an impressive directory that ranges from high fashion labels like Burberry, Hermès and Gucci, to luxury beauty boutiques such as Chanel and MAC. And with upwards of 200,000 people passing through the terminals each day, Heathrow has a pretty good idea of what's trending with its worldly shoppers.</P>
        </div>
    </div>
</div>