<div class="modal-header">
    <div class="panel-header">
        <h3> <strong>Product</strong> Details </h3><span ng-if="itemId">Item #{{itemId}}</span>
    </div>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form role="form" class="form-validation" novalidate=""  name="itemForm">
                                <div class="row">
                                   <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Select Brand</label>
                                            <ui-select ng-model="item.brand" theme="selectize">
                                                <ui-select-match placeholder="Select or search the Brand in the list...">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="brand in brands | filter: $select.search">
                                                    <img alt="{{ brand.name }}" ng-src="{{brand.img}}" class="table-img-icon"/>
                                                    <div ng-bind-html="brand.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Model</label>
                                            <div >
                                                <select ng-model="item.model" ng-options="data for data in item.brand.models"
                                                    class="form-control form-filter srch-select-opt"><option value="">- Please Choose -</option></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Item Tagging</label>
                                            <ui-select multiple ng-model="item.types" theme="bootstrap" sortable="true" title="Choose a Tag">
                                                <ui-select-match placeholder="Select tags...">{{$item.key}}</ui-select-match>
                                                <ui-select-choices repeat="type in availableTypes | filter:$select.search">
                                                    {{type.key}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Price</label>
                                            <div class="append-icon">
                                                <input class="form-control" ng-model="item.price" type="number" ng-required="true" name="price">
                                                <i class="fa fa-money"></i>
                                            </div>
                                            <div ng-messages="itemForm.price.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Description</label>
                                            <div class="append-icon">
                                                <textarea rows="7" class="form-control" placeholder="Write your description... (maximum 200 characters)" maxlength="200" ng-required="true" name="description" ng-model="item.description"></textarea>
                                                <i class="fa fa-info-circle"></i>
                                            </div>
                                            <div ng-messages="itemForm.description.$error">
                                                <div ng-message="required">This is required.</div>
                                                <div ng-message="maxlength">The description has to be less than 200 characters long.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" ng-if="colors.length>0">
                                        <trendi-colorpicker selected="item.colors" colors="colors" ></trendi-colorpicker>
                                    </div>
                                </div>
                              
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Hardware Warranty </label>
                                            <div class="append-icon">
                                             <input class="form-control" placeholder="1 Year" ng-model="item.hdwareWarranty" type="text"  name="price">
                                                <i class="fa fa-shield"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Software Warranty </label>
                                            <div class="append-icon">
                                                <input class="form-control" placeholder="1 Year" ng-model="item.softWarranty" type="text"  name="price">
                                                <i class="fa fa-shield"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Discount <input type="checkbox" ng-model="item.onSale" class="icheckbox_square-blue"></label>
                                            <div class="append-icon">
                                                <input type="number" name="discount" id="discount" ng-model="item.discount" class="form-control" placeholder="10" ng-disabled="!item.onSale">
                                                <i class="icon-emoticon-smile"></i>
                                            </div>
                                        </div>
                                    </div>
                                  	<div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Select Category</label>
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label>
                                                        <input type="checkbox" ng-model="item.group.phone" class="icheckbox_square-blue"> Phones
                                                    </label>
                                                    <label>
                                                        <input type="checkbox"  ng-model="item.group.tablet" class="icheckbox_square-blue"> Tablets
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" ng-model="item.group.accessories" class="icheckbox_square-blue"> Accessories
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Like </label>
                                            <div class="append-icon">
                                                <label class="form-control">{{item.like}}  <i class="fa fa-thumbs-o-up"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Seen</label>
                                            <div class="append-icon">
                                                <label class="form-control">{{item.seen}}  <i class="fa fa-eye"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        <trendi-file-upload files="uploadedImages" image-size="imageSize"  image-count="imageCount" removed-items="removedItems"></trendi-file-upload>
                                    </div>
                                </div>
                                <div class="text-center  m-t-20">
                                            <div ng-if="addNewItem">
                                                <button  class="btn btn-primary" ng-disabled="(itemForm.$invalid || uploadedImages.length == 0) || btnPressed" ng-click="save()">
                                                    Save
                                                </button>
                                                <button ng-click="cancel()" class="btn btn-white">
                                                    Close
                                                </button>
                                            </div>
                                            <div ng-if="!addNewItem">
                                                <button class="btn btn-primary" ng-disabled="(itemForm.$invalid || uploadedImages.length == 0) || btnPressed" ng-click="update()">
                                                    Update
                                                </button>
                                                <button ng-click="cancel()" class="btn btn-white">
                                                    Close
                                                </button>
                                            </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">

</div>