<div class="modal-header">
    <div class="panel-header">
        <h3> <strong>Banner</strong> Details </h3><span ng-if="promotionId">Promotion Id #{{promotionId}}</span>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form role="form" class="form-validation" novalidate=""  name="itemForm">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="control-label">Slide 01</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label class="control-label">Size: </label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[0].text[0].class == 'small'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[0].text[0].class" value="small" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Small</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[0].text[0].class == 'middle'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[0].text[0].class" value="middle" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Middle</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[0].text[0].class == 'big'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[0].text[0].class" value="big" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Large</label>
                                                </div>
                                            </div>
                                            <div class="append-icon">
                                                <input type="text"  class="form-control" placeholder="Ex : Sale" ng-model="banner[0].text[0].word" name="name">
                                                <i class="icons-shopping-13"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label class="control-label">Size: </label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[0].text[1].class == 'small'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[0].text[1].class" value="small" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Small</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[0].text[1].class == 'middle'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[0].text[1].class" value="middle" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Middle</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[0].text[1].class == 'big'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[0].text[1].class" value="big" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Large</label>
                                                </div>
                                            </div>
                                            <div class="append-icon">
                                                <input type="text"  class="form-control" placeholder="Ex : up to" ng-model="banner[0].text[1].word" name="name">
                                                <i class="icons-shopping-13"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label class="control-label">Size: </label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[0].text[2].class == 'small'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[0].text[2].class" value="small" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Small</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[0].text[2].class == 'middle'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[0].text[2].class" value="middle" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Middle</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[0].text[2].class == 'big'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[0].text[2].class" value="big" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Large</label>
                                                </div>
                                            </div>
                                            <div class="append-icon">
                                                <input type="text"  class="form-control" placeholder="Ex : 40% OFF" ng-model="banner[0].text[2].word" name="name">
                                                <i class="icons-shopping-13"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Slide 02</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label class="control-label">Size: </label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[1].text[0].class == 'small'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[1].text[0].class" value="small" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Small</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[1].text[0].class == 'middle'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[1].text[0].class" value="middle" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Middle</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[1].text[0].class == 'big'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[1].text[0].class" value="big" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Large</label>
                                                </div>
                                            </div>
                                            <div class="append-icon">
                                                <input type="text"  class="form-control" placeholder="Ex : New" ng-model="banner[1].text[0].word" name="name">
                                                <i class="icons-shopping-13"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label class="control-label">Size: </label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[1].text[1].class == 'small'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[1].text[1].class" value="small" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Small</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[1].text[1].class == 'middle'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[1].text[1].class" value="middle" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Middle</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[1].text[1].class == 'big'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[1].text[1].class" value="big" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Large</label>
                                                </div>
                                            </div>
                                            <div class="append-icon">
                                                <input type="text"  class="form-control" placeholder="Ex : collection" ng-model="banner[1].text[1].word" name="name">
                                                <i class="icons-shopping-13"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label class="control-label">Size: </label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[1].text[2].class == 'small'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[1].text[2].class" value="small" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Small</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[1].text[2].class == 'middle'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[1].text[2].class" value="middle" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Middle</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[1].text[2].class == 'big'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[1].text[2].class" value="big" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Large</label>
                                                </div>
                                            </div>
                                            <div class="append-icon">
                                                <input type="text"  class="form-control" placeholder="Ex : AUTUMN 2016" ng-model="banner[1].text[2].word" name="name">
                                                <i class="icons-shopping-13"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Slide 03</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label class="control-label">Size: </label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[2].text[0].class == 'small'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[2].text[0].class" value="small" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Small</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[2].text[0].class == 'middle'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[2].text[0].class" value="middle" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Middle</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[2].text[0].class == 'big'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[2].text[0].class" value="big" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Large</label>
                                                </div>
                                            </div>
                                            <div class="append-icon">
                                                <input type="text"  class="form-control" placeholder="Ex : Special offer" ng-model="banner[2].text[0].word" name="name">
                                                <i class="icons-shopping-13"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label class="control-label">Size: </label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[2].text[1].class == 'small'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[2].text[2].class" value="small" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Small</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[2].text[1].class == 'middle'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[2].text[2].class" value="middle" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Middle</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[2].text[1].class == 'big'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[2].text[2].class" value="big" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Large</label>
                                                </div>
                                            </div>
                                            <div class="append-icon">
                                                <input type="text"  class="form-control" placeholder="Ex : Save money with Lingerie SALE" ng-model="banner[2].text[1].word" name="name">
                                                <i class="icons-shopping-13"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label class="control-label">Size: </label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[2].text[2].class == 'small'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[2].text[2].class" value="small" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Small</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[2].text[2].class == 'middle'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[2].text[2].class" value="middle" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Middle</label>
                                                    <label class=""><div class="iradio_flat-blue" ng-class="banner[2].text[2].class == 'big'?'checked':''" style="position: relative;"><input type="radio" name="radio2" ng-model="banner[2].text[2].class" value="big" data-radio="iradio_flat-blue" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Large</label>
                                                </div>
                                            </div>
                                            <div class="append-icon">
                                                <input type="text"  class="form-control" placeholder="Ex : UP TO 50% OFF" ng-model="banner[2].text[2].word" name="name">
                                                <i class="icons-shopping-13"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <trendi-file-upload files="uploadedImages" image-size="bannerImageSize"  image-count="bannerImageCount"></trendi-file-upload>
                                    </div>
                                </div>
                                <div class="text-center  m-t-20">
                                    <div>
                                        <button class="btn btn-primary" ng-disabled="(uploadedImages.length == 0) || btnPressed" ng-click="save()">
                                            Save
                                        </button>
                                        <button ng-click="cancel()" class="btn btn-white">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">

</div>