<div>
    <section class="filters-by-category clearfix">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <ul class="option-set" opt-kind ok-key="filter">
                        <li><a  ok-sel="*" class="selected">all</a></li>
                        <li><a  ok-sel=".onSale">ON SALE</a></li>
                        <li><a  ok-sel=".topRated">TOP RATED</a></li>
                        <li><a  ok-sel=".promotion">PROMOTION</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

   <section class="container content slider-products">
    <div class="row">

        <div ng-class="views == true ? 'products-list-in-row':'products-list-isotope'" id="isotopeContainer" isotope-container ng-cloak class="ng-cloak" infinite-scroll='paginationFunction()' infinite-scroll-distance='0.01'>
            <div class="kindling {{x.class}} product-preview " ng-repeat="x in xList " isotope-item  on-finish-render="test">

                    <div id="{{x.itemId}}" class="preview animate scale"> <a class="preview-image"><img ng-click="openItem(x.itemId)" class="img-responsive animate scale" ng-src="{{x.item.image}}" width="270" height="328" alt=""></a>
                        <ul class="product-controls-list right" ng-if="x.item.onSale" >
                            <li><span class="label label-sale">SALE</span></li>
                            <li><span class="label">-20%</span></li>
                        </ul>
                        <ul class="product-controls-list right hide-right">
                            <li class="top-out"></li>
                            <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                            <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                        </ul>
                        <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                    </div>
                    <h3 class="title"><a href="#">#{{x.itemId}} {{x.item.name}}</a></h3>
                    <div class="product-options-outer">
                        <div class="product-options"><span ng-repeat="color in x.item.colors"> <i  class="icon icon-color" ng-style="{'background':color.color}"></i></span> </div>
                    </div>
                <span class="price old" ng-if="x.item.onSale">Rs {{x.item.price}}</span> <span class="price new">Rs {{(x.item.price)*(100-x.item.discount)/100}}</span>
                <div class="list_description">{{x.item.description}}</div>
                <!--buttons-->
                <div class="list_buttons"> <a class="btn btn-mega pull-left" href="#">More...</a>
                    <div class="add-to-links">
                        <ul>
                            <li> <a  href="#"><i class="icon-heart"></i></a> <a  href="#">Add to Wish List</a> </li>
                            <li> <a  href="#"><i class="icon-justice"></i></a> <a  href="#">Add to Compare</a> </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
       </div>

   </section>


</div>