<div id="outer">
    <div id="outer-canvas">
        <section class="main-slider container">
            <div class="posts flexslider">
                <trendi-owl-slider navigation-display="true" images="images" items="1" stop-on-hover="true" template="trendi.slider.blog" auto-play="false" item-display="1"></trendi-owl-slider>
            </div>
        </section>

        <!-- //end Slider -->

        <!-- Social widgets -->
        <section class="social-widgets hidden-xs">
            <ul class="items">
                <li class="item item-01 facebook"> <a href="social/facebook.html" class="tab-icon"><span class="icon-facebook-3"></span></a>
                    <div class="tab-content">
                        <div class="title">FACEBOOK</div>
                        <div class="loading"><img src="images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
                    </div>
                </li>
                <li class="item item-02 twitter"> <a href="social/twitter.html" class="tab-icon"><span class="icon-twitter-3"></span></a>
                    <div class="tab-content">
                        <div class="title">TWITTER FEEDS</div>
                        <div class="loading"><img src="images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
                    </div>
                </li>
            </ul>
        </section>
        <!-- //end Social widgets -->

        <div class="container">
            <!-- Services -->
            <section class="services-block hidden-xs">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-4 divider-right"> <a href="index.html" class="item"> <span class="icon icon-airplane-2"></span> <span class="title">Free shipping</span> <span class="description">on orders over $200</span> </a> </div>
                    <div class="col-xs-12 col-sm-4 col-lg-4 divider-right"> <a href="index.html" class="item"> <span class="icon icon-clock"></span> <span class="title">30-day returns</span> <span class="description">moneyback guarantee</span> </a> </div>
                    <div class="col-xs-12 col-sm-4 col-lg-4"> <a href="index.html" class="item"> <span class="icon icon-umbrella "></span> <span class="title">24/7 Support </span> <span class="description">online consultations</span> </a> </div>
                </div>
            </section>
            <!-- //end Services -->
            <!-- // Prodcut Section -->
            <section class="content slider-products">
                <h3>Today's Featured </h3>

                <!-- Products list -->
                <div class="row">
                    <div class="product-carousel">
                        <trendi-owl-slider images="latestItems" items="4" stop-on-hover="true"  auto-play="true" navigation-display="true" action="moduleClick"></trendi-owl-slider>
                    </div>
                </div>
                <!-- //end Products list -->
            </section>

            <!-- //end Featured Products -->
        </div>

        <div ng-if="mainItemShow">
            <trendi-isotop items="mainItems" action="moduleClick"></trendi-isotop>
        </div>


        <div class="container">
            <section class="content">
                <h3>BRANDS</h3>
                <div class="brands carouFredSel row">
                    <div class="carouFredSel-controls">
                        <div class="carouFredSel-buttons"><a id="brands-carousel-prev" class="prev" href="#"></a><a id="brands-carousel-next" class="next"></a></div>
                    </div>
                    <div class="brands-carousel">
                        <trendi-owl-slider images="brands" items="4" stop-on-hover="true" template="trendi.slider.brand" auto-play="true" navigation-display="true"></trendi-owl-slider>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>