<div id="outer">
    <div id="outer-canvas">

        <section class="container">
            <nav class="breadcrumbs"> Search <span class="icon-arrow-right-3"></span> {{selectParams.term}} <span class="icon-arrow-right-3"></span>{{selectParams.selected}}</nav>
        </section>
        <section ng-hide="uiRef" class="container">
            <div class="row">
                <aside class="col-sm-4 col-md-3 col-lg-3 content-aside">

                    <div class="section-divider"></div>
                    <section>
                        <!-- Add new section -->
                    </section>
                    <div class="section-divider"></div>

                </aside>
                <section class="col-sm-8 col-md-9 col-lg-9 content-center">
                    <div class="filters-panel">
                    <div class="divider"></div>
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4"> Sort by
                                <div class="btn-group btn-select sort-select"> <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> <span class="value">Position</span> <span class="caret min"></span> </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" data-value="position">Position</a></li>
                                        <li><a href="#" data-value="rating">Rating</a></li>
                                        <li><a href="#" data-value="price">Price</a></li>
                                        <li><a href="#" data-value="dateAdded">Date added</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <div ng-if="mainItemShow">
                        <trendi-isotop-product items="mainItems" selector="true" views="true" action="isotopPagination" template="trendi.product.isotop"></trendi-isotop-product>
                    </div>
                    <div class="filters-panel hidden-xs">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4"> Sort by
                                <div class="btn-group btn-select sort-select"> <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> <span class="value">Position</span> <span class="caret min"></span> </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" data-value="position">Position</a></li>
                                        <li><a href="#" data-value="rating">Rating</a></li>
                                        <li><a href="#" data-value="price">Price</a></li>
                                        <li><a href="#" data-value="dateAdded">Date added</a></li>
                                    </ul>
                                </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </section>
            </div>
        </section>
        <section ng-show="uiRef" class="container" >
            <div class="product-view row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <md-button class="md-raised md-primary" md-autofocus ng-click="backTo()" id="back-btn">
                        < Back
                    </md-button>
                    <div class="hidden-xs flexslider-thumb-vertical-outer">
                        <div class="flexslider flexslider-thumb-vertical vertical min">
                            <ul class="previews-list slides">
                                <li ng-repeat="img in imageArray track by $index "><img class = 'cloudzoom-gallery' alt="#"  ng-src = "{{img}}"  ></li>
                            </ul>
                        </div>
                        <div ng-if="renderd" zoom2 big="selectedImage.big" tiny="selectedImage.tiny" small="selectedImage.small" alt="" title="{{selectedItem.item.name}}"></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="product-label">
                        <div class="box-wrap">
                            <div class="box-wrap-top"></div>
                            <div class="box-wrap-bot"></div>
                            <div class="box-wrap-center"></div>
                            <div class="box">
                                <div class="box-content">
                                    <h2>#{{selectedItem.itemId}} -  {{selectedItem.item.name}}</h2>
                                    <span class="price old" ng-if="selectedItem.item.onSale">Rs {{selectedItem.item.price}}</span> <span class="price new">Rs {{(selectedItem.item.price)*(100-selectedItem.item.discount)/100}}</span> <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-description"> <span class="rating"><trendi-star-bar rate-object="selectedItem.item.rate" category="item" object-id="selectedItem.itemId"></trendi-star-bar> </span>
                        <form>
                            <div class="row">
                                <div class="col-lg-6"> <strong>Colors</strong>
                                    <div class="product-options"> <span ng-repeat="color in selectedItem.item.colors"> <i  class="icon icon-color" ng-style="{'background':color.color}"></i></span></div>
                                </div>
                                <div class="col-lg-6"> <strong>Sizes</strong>
                                    <div class="product-options"> <span ng-repeat="size in selectedItem.item.sizes"> <i class="icon icon-size">{{size.value}}</i></span></div>
                                </div>
                            </div>
                            <br>
                            <div class="clearfix visible-xs"></div>
                            <button class="btn btn-mega btn-lg" type="submit">Add to Watch list</button>
                        </form>
                        <div class="panel-group accordion-simple" id="product-accordion">
                            <div class="panel">
                                <div class="panel-heading"> <a ng-click="desopen = !desopen"> <span ng-class="desopen?'arrow-up icon-arrow-up-4':'arrow-up icon-arrow-down-4'"></span> Description </a> </div>
                                <div id="product-description" ng-class="desopen?'panel-collapse collapse in':'panel-collapse collapse'">
                                    <div class="panel-body"> {{selectedItem.item.description}}</div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading"> <a ng-click="shopopen = !shopopen"> <span ng-class="shopopen?'arrow-up icon-arrow-up-4':'arrow-up icon-arrow-down-4'"></span> Shop Details </a>  </div>
                                <div id="product-size" ng-class="shopopen?'panel-collapse collapse in':'panel-collapse collapse'">
                                    <div class="panel-body">
                                        <img alt="{{ selectedItem.item.shop.shop.name }}" ng-src="{{selectedItem.item.shop.shop.iconImage}}" class="md-avatar" /></br>
                                        <span>Name : {{ selectedItem.item.shop.shop.name }}</span></br>
                                        <span>Hotline :{{ selectedItem.item.shop.shop.hotline }}</span></br>
                                        <span>Mobile :{{ selectedItem.item.shop.shop.mobile }}</span></br>
                                        <span>Address : {{ selectedItem.item.shop.shop.address.line1 }},{{selectedItem.item.shop.shop.address.line2 }},{{selectedItem.item.shop.shop.address.city }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading"> <a ng-click="revopen = !revopen"> <span ng-class="revopen?'arrow-up icon-arrow-up-4':'arrow-up icon-arrow-down-4'"></span> Reviews </a>  </div>
                                <div id="product-reviews" ng-class="revopen?'panel-collapse collapse in':'panel-collapse collapse'">
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="services-block single small row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 divider-right"> <a href="#" class="item"><span class="icon icon-tags-2"></span>
                    <div class="text"> <span class="title">Special Offers</span> <span class="description"></span></div>
                </a> </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 divider-right"> <a href="#" class="item"> <span class="icon icon-credit-card"></span>
                    <div class="text"><span class="title">Rewards & Benefits</span> <span class="description"></span></div>
                </a> </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 divider-right"> <a href="#" class="item"><span class="icon icon-users-2"></span>
                    <div class="text"> <span class="title">Join With Us</span></div>
                </a> </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 divider-right"><a class="item"> <span class="fa fa-map-marker"></span>
                    <div class="text"><span class="title" ng-click="showMap = !showMap">Map View</span> </div>
                </a> </div>
            </section>
            <div class="container" ng-if="showMap">
                <trendi-direction-map direction="direction"></trendi-direction-map>
            </div>
            <div class="container" ng-if="relatedItemsShow">
                <section class="content slider-products">
                    <h3>People were also interested in </h3>

                    <div class="row">
                        <div class="product-carousel">
                            <trendi-owl-slider images="relatedItems" items="4" stop-on-hover="true"  auto-play="true" navigation-display="true"></trendi-owl-slider>
                        </div>
                    </div>

                </section>
            </div>

        </section>
    </div>
</div>