<div class="responsive">
    <nav id="off-canvas-menu" >
        <div id="off-canvas-menu-title">MENU<span class="icon icon-cancel-3" id="off-canvas-menu-close"></span></div>
        <trendi-expand-menu menu-func="menuFunc"></trendi-expand-menu>
    </nav>
    <div id="outer" swaper>
        <div id="outer-canvas"> <!-- Navbar -->
            <header>

                <!-- Back to top -->
                <div class="back-to-top"><span class="icon-arrow-up-4"></span></div>
                <!-- //end Back to top -->

                <section class="navbar">
                    <div class="background">
                        <div class="container">
                            <!-- Logo -->
                            <div class="navbar-logo pull-left"> <a><img src="images/header-logo.png" alt="Trendi"></a></div>
                            <div class="navbar-welcome pull-left compact-hidden hidden-xs"><div><img ng-if="user.image" ng-src="{{user.image}}" class="md-avatar" height="42" width="42"></div> {{user.name?'Welcome '+user.name:''}} </div>
                            <div class="clearfix visible-sm"></div>
                            <!-- //end Logo -->
                            <!-- Secondary menu -->
                            <div class="navbar-secondary-menu pull-right hidden-xs">
                                <div class="btn-group compact-hidden"> <a  class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"> <span class="icon icon-vcard"></span> Account </a>
                                </div>

                                <div class="btn-group compact-hidden"> <a class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" id="myselector" ng-click="menuFunc.gotoMessage()"> <span class="icon icon-envelop"></span> Message <span class="label label-info pull-right" ng-if="menuFunc.unreadCount > 0">{{menuFunc.unreadCount}}</span></a>
                                </div>

                                <div class="btn-group compact-hidden"> <a class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" ng-click="menuFunc.loginOpen()"> <span class="icon icon-user"></span> {{menuFunc.checkLogin()?'Log Out':'Log In'}} </a>
                                </div>

                                <trendi-bag list-size="bagItemCount"></trendi-bag>


                            </div>

                            <!-- Search -->
                            <form class="navbar-search form-inline hidden-xs pull-right" role="form">
                                <div class="form-group">
                                    <button type="submit" ng-click="menuFunc.searchTerm()" class="button"><span class="icon-search-2"></span></button>
                                    <input type="text" class="form-control" placeholder="Search" ng-keyup="menuFunc.searchType($event)" ng-model="menuFunc.searchKey">
                                </div>
                            </form>
                            <!-- //end Search --> <!-- Main menu -->
                            <dl class="navbar-main-menu hidden-xs">
                                <dt class="item">
                                <ul class="sf-menu">
                                    <li><a ng-click="menuFunc.homeClick(0)" class="btn-main"><span class="icon icon-home"></span></a></li>
                                </ul>
                                </dt>
                                <dd></dd>
                                <dt class="item">
                                    <trendi-menu-bar menu-type="menuFunc.womenMenu"></trendi-menu-bar>
                                </dt>
                                <dd></dd>
                                <dt class="item">
                                    <trendi-menu-bar menu-type="menuFunc.menMenu"></trendi-menu-bar>
                                </dt>
                                <dd></dd>
                                <dt class="item">
                                    <trendi-menu-bar menu-type="menuFunc.kidsMenu"></trendi-menu-bar>
                                </dt>
                                <dd></dd>
                                <dt class="item">
                                <ul class="sf-menu">
                                    <li> <a ng-click="menuFunc.clickMenu('main.deals')"> Today's deals </a>

                                    </li>
                                </ul>
                                </dt>
                                <dd></dd>
                                <dt class="item compact-hidden"> <a ng-click="menuFunc.gotoShop()" class="btn-main line">SHOPS</a> </dt>
                                <trendi-wide-menu-bar shoplist="menuFunc.shopList"></trendi-wide-menu-bar>
                                <dt class="item"> <a ng-click="menuFunc.gotoContact()" class="btn-main line">Contacts</a> </dt>
                                <dd></dd>
                            </dl>
                            <!-- //end Main menu -->

                        </div>
                    </div>
                    <!-- Mobile menu -->
                    <div class="container visible-xs">
                        <trendi-mobile-menu menu-func="menuFunc"></trendi-mobile-menu>

                    </div>

                    <!-- //end Mobile menu -->
                    <!-- Navbar switcher -->
                    <div class="navbar-switcher-container">
                        <!-- <div class="navbar-switcher"> <span class="i-inactive"><img src="images/icon-small.png" width="35" height="35" alt="samll icon fashion.lk"></span> <span class="i-active icon-cancel-3"></span> </div>-->
                        <trendi-hide-menu></trendi-hide-menu>
                    </div>
                    <!-- //end Navbar switcher -->

                </section>
                <!-- Navbar height -->
                <div class="navbar-height-inner"></div>
                <!-- Navbar height -->

                <!-- Navbar height -->
                <div class="navbar-height"></div>
                <!-- Navbar height -->
            </header>
            <!-- Content loading here -->
            <ui-view>

            </ui-view>
            <!-- Content loading here -->

            <footer>
                <section class="footer-navbar dark">
                    <div class="container content nopad-xs">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3>Information<a class="expander visible-xs">+</a></h3>
                                <div  class="tabBlock" id="TabBlock-3">
                                    <ul class="menu">
                                        <li><a>About Us</a></li>
                                        <li><a>FAQ</a></li>
                                        <li><a>Privacy Notice</a></li>
                                        <li><a>Conditions of Use</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block"> <h3><span class="attention"><span class="attention_icon"></span></span>Customer service<a class="expander visible-xs">+</a></h3>
                                <div  class="tabBlock" id="TabBlock-4">
                                    <ul class="menu">
                                        <li><a>Online support</a></li>
                                        <li><a>Help & FAQs</a></li>
                                        <li><a>Call Center</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3>My account<a class="expander visible-xs">+</a></h3>
                                <div  class="tabBlock" id="TabBlock-5">
                                    <ul class="menu">
                                        <li><a>My Account</a></li>
                                        <li><a>Order history</a></li>
                                        <li><a>Advanced search</a></li>
                                        <li><a>Reviews</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3>CONTACT US<a class="expander visible-xs">+</a></h3>
                                <div  class="tabBlock" id="TabBlock-6">
                                    <ul class="menu">
                                        <li><span class="icon icon-house"></span> Moratuwa Sri Lanka</li>
                                        <li><span class="icon icon-phone-4"></span> +94 123456</li>
                                        <li><span class="icon icon-envelop"></span> <a>pathumpmg.com</a></li>
                                        <li><span class="icon icon-skype-2"></span> <a>www.fashion.lk</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="footer-bottom-block container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 copyright-text"> &copy; 2015<a>fashion.lk</a>. All Rights Reserved. </div>
                        <div class="col-sm-8 col-md-8">
                            <ul class="payment-list pull-right">
                                <li><img src="images/icon-payment-01.png" width="36" height="22" alt=""></li>
                                <li><img src="images/icon-payment-02.png" width="36" height="22" alt=""></li>
                                <li><img src="images/icon-payment-03.png" width="36" height="22" alt=""></li>
                                <li><img src="images/icon-payment-04.png" width="36" height="22" alt=""></li>
                                <li><img src="images/icon-payment-05.png" width="36" height="22" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </footer>
            <div id="outer-overlay"></div>
            <!-- //end Footer --></div>
    </div>
</div>
