<div id="outer">
    <div id="outer-canvas">
        <section class="main-slider container">
            <div class="owl-slider-outer">
                <div class="owl-slider">
                    <div class="item"><img src="images/home_boxed_slider1.jpg" alt=""> <a href="index.html" class="title-slide-01"> <span class="big">Sale</span> <span class="middle">up to 40% OFF</span> </a></div>
                    <div class="item"><img src="images/home_boxed_slider2.jpg" alt=""> <a href="index.html" class="title-slide-02"> <span class="big">New</span> <span class="small">collection</span> <span class="middle">AUTUMN 2016</span> </a> </div>
                    <div class="item"><img src="images/home_boxed_slider3.jpg" alt=""> <a href="index.html" class="title-slide-03"> <span class="big">Special offer</span> <span class="middle">Save money with Lingerie SALE</span><span class="small">UP TO 50% OFF</span></a></div>
                </div>
            </div>
        </section>

        <!-- //end Slider -->

        <!-- Social widgets -->
        <section class="social-widgets hidden-xs">
            <ul class="items">
                <li class="item item-01 facebook"> <a href="social/facebook.html" class="tab-icon"><span class="icon-facebook-3"></span></a>
                    <div class="tab-content">
                        <div class="title">FACEBOOK</div>
                        <div class="loading"><img src="images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
                    </div>
                </li>
                <li class="item item-02 twitter"> <a href="social/twitter.html" class="tab-icon"><span class="icon-twitter-3"></span></a>
                    <div class="tab-content">
                        <div class="title">TWITTER FEEDS</div>
                        <div class="loading"><img src="images/ajax-loader.gif" class="ajaxloader" alt="loader"></div>
                    </div>
                </li>
            </ul>
        </section>
        <!-- //end Social widgets -->

        <div class="container">
            <!-- Services -->
            <section class="services-block hidden-xs">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-4 divider-right"> <a href="index.html" class="item"> <span class="icon icon-airplane-2"></span> <span class="title">Free shipping</span> <span class="description">on orders over $200</span> </a> </div>
                    <div class="col-xs-12 col-sm-4 col-lg-4 divider-right"> <a href="index.html" class="item"> <span class="icon icon-clock"></span> <span class="title">30-day returns</span> <span class="description">moneyback guarantee</span> </a> </div>
                    <div class="col-xs-12 col-sm-4 col-lg-4"> <a href="index.html" class="item"> <span class="icon icon-umbrella "></span> <span class="title">24/7 Support </span> <span class="description">online consultations</span> </a> </div>
                </div>
            </section>
            <!-- //end Services -->
            <!-- // Prodcut Section -->
            <section class="content slider-products">
                <h3>Today's Featured </h3>

                <!-- Products list -->
                <div class="row">
                    <div class="product-carousel">
                        <div class="item">
                            <div class="product-preview">
                                <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-14.jpg" width="270" height="328" alt=""></a>
                                    <ul class="product-controls-list right">
                                        <li><span class="label label-sale">SALE</span></li>
                                        <li><span class="label">-20%</span></li>
                                    </ul>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="#">Lace Wool Dress</a></h3>
                                <span class="price old">Rs 1200</span> <span class="price new">Rs 1000</span> </div>
                        </div>
                        <div class="item">
                            <div class="product-preview">
                                <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-14.jpg" width="270" height="328" alt=""></a>
                                    <ul class="product-controls-list right">
                                        <li><span class="label label-sale">SALE</span></li>
                                        <li><span class="label">-20%</span></li>
                                    </ul>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="#">Lace Wool Dress</a></h3>
                                <span class="price old">Rs 1200</span> <span class="price new">Rs 1000</span> </div>
                        </div>
                        <div class="item">
                            <div class="product-preview">
                                <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-14.jpg" width="270" height="328" alt=""></a>
                                    <ul class="product-controls-list right">
                                        <li><span class="label label-sale">SALE</span></li>
                                        <li><span class="label">-20%</span></li>
                                    </ul>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="#">Lace Wool Dress</a></h3>
                                <span class="price old">Rs 1200</span> <span class="price new">Rs 1000</span> </div>
                        </div>
                        <div class="item">
                            <div class="product-preview">
                                <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-14.jpg" width="270" height="328" alt=""></a>
                                    <ul class="product-controls-list right">
                                        <li><span class="label label-sale">SALE</span></li>
                                        <li><span class="label">-20%</span></li>
                                    </ul>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="#">Lace Wool Dress</a></h3>
                                <span class="price old">Rs 1200</span> <span class="price new">Rs 1000</span> </div>
                        </div>
                        <div class="item">
                            <div class="product-preview">
                                <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-14.jpg" width="270" height="328" alt=""></a>
                                    <ul class="product-controls-list right">
                                        <li><span class="label label-sale">SALE</span></li>
                                        <li><span class="label">-20%</span></li>
                                    </ul>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="#">Lace Wool Dress</a></h3>
                                <span class="price old">Rs 1200</span> <span class="price new">Rs 1000</span> </div>
                        </div>
                        <div class="item">
                            <div class="product-preview">
                                <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-14.jpg" width="270" height="328" alt=""></a>
                                    <ul class="product-controls-list right">
                                        <li><span class="label label-sale">SALE</span></li>
                                        <li><span class="label">-20%</span></li>
                                    </ul>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="#">Lace Wool Dress</a></h3>
                                <span class="price old">Rs 1200</span> <span class="price new">Rs 1000</span> </div>
                        </div>
                        <div class="item">
                            <div class="product-preview">
                                <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-14.jpg" width="270" height="328" alt=""></a>
                                    <ul class="product-controls-list right">
                                        <li><span class="label label-sale">SALE</span></li>
                                        <li><span class="label">-20%</span></li>
                                    </ul>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="#">Lace Wool Dress</a></h3>
                                <span class="price old">Rs 1200</span> <span class="price new">Rs 1000</span> </div>
                        </div>
                        <div class="item">
                            <div class="product-preview">
                                <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-14.jpg" width="270" height="328" alt=""></a>
                                    <ul class="product-controls-list right">
                                        <li><span class="label label-sale">SALE</span></li>
                                        <li><span class="label">-20%</span></li>
                                    </ul>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="_ajax_view-product.html" class="quick-view hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="#">Lace Wool Dress</a></h3>
                                <span class="price old">Rs 1200</span> <span class="price new">Rs 1000</span> </div>
                        </div>
                    </div>
                </div>
                <!-- //end Products list -->

                <!-- Product view compact -->
                <div class="product-view-ajax">
                    <div class="ajax-loader progress progress-striped active">
                        <div class="progress-bar progress-bar-danger" role="progressbar"></div>
                    </div>
                    <div class="layar"></div>
                    <div class="product-view-container"> </div>
                </div>
                <!-- //end Product view compact -->
            </section>

            <!-- //end Featured Products -->
        </div>

        <!-- Filters -->
        <section class="filters-by-category clearfix">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <ul class="option-set" data-option-key="filter">
                            <li><a href="#filter" data-option-value="*" class="selected">all</a></li>
                            <li><a href="#filter" data-option-value=".category1">BEST SELLERS</a></li>
                            <li><a href="#filter" data-option-value=".category2">NEW PRODUCTS</a></li>
                            <li><a href="#filter" data-option-value=".category3">ON SALE</a></li>
                            <li><a href="#filter" data-option-value=".category4">TOP RATED</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- //end Filters -->

        <!-- Isotope Products -->
        <section class="container content slider-products">
            <!-- Products list -->
            <div class="row">
                <div class="products-list-isotope">

                    <div class="product-preview category2">
                        <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-01.jpg" width="270" height="328" alt=""></a>
                            <ul class="product-controls-list right">
                                <li><span class="label label-sale">SALE</span></li>
                                <li><span class="label">-20%</span></li>
                            </ul>
                            <ul class="product-controls-list right hide-right">
                                <li class="top-out"></li>
                                <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                            </ul>
                            <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                            <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                        </div>
                        <h3 class="title"><a href="#">Paisley Print Green Colour Dress</a></h3>
                        <div class="product-options-outer">
                            <div class="product-options"> <i class="icon icon-color icon-color-white" data-href="images/products/product-12.jpg"></i> <i class="icon icon-color icon-color-beige" data-href="images/products/product-17.jpg"></i> <i class="icon icon-color icon-color-red" data-href="images/products/product-25.jpg"></i> <i class="icon icon-color icon-color-pink" data-href="images/products/product-31.jpg"></i> <i class="icon icon-color icon-color-magneta"  data-href="images/products/product-07.jpg"></i> <i class="disable icon icon-color icon-color-green"  data-href="images/products/product-11.jpg"></i> <i class="disable icon icon-color icon-color-gray"></i> <i class="disable icon icon-color icon-color-brown"></i> </div>
                        </div>
                        <span class="price old">Rs 2100</span> <span class="price new">Ra 1500</span>
                    </div>

                    <div class="product-preview category1">
                        <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-02.jpg" width="270" height="328" alt=""></a>
                            <ul class="product-controls-list right hide-right">
                                <li class="top-out"></li>
                                <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                            </ul>
                            <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                            <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                        </div>
                        <h3 class="title"><a href="#">Spaghetti Strapped Dress</a></h3>
                        <span class="price">Rs 3000</span>
                    </div>

                    <div class="product-preview category3">
                        <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-03.jpg" width="270" height="328" alt=""></a>
                            <ul class="product-controls-list">
                                <li><span class="label label-new">NEW</span></li>
                            </ul>
                            <ul class="product-controls-list right hide-right">
                                <li class="top-out"></li>
                                <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                            </ul>
                            <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                            <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                        </div>
                        <h3 class="title"><a href="#">Red Striped Dress</a></h3>
                        <div class="product-options-outer">
                            <div class="product-options"> <i class="disable icon icon-size">39</i> <i class="icon icon-size">40</i> <i class="disable icon icon-size">41</i> <i class="icon icon-size">42</i> <i class="icon icon-size">43</i> <i class="icon icon-size">44</i> <i class="icon icon-size">45</i> <i class="disable icon icon-size">46</i> </div>
                        </div>
                        <span class="price">Rs 1200</span>
                    </div>

                    <div class="product-preview category4">
                        <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-04.jpg" width="270" height="328" alt=""></a>
                            <ul class="product-controls-list">
                                <li><span class="label label-new">NEW</span></li>
                            </ul>
                            <ul class="product-controls-list right hide-right">
                                <li class="top-out"></li>
                                <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                            </ul>
                            <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                            <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                        </div>
                        <h3 class="title"><a href="#">Black V-Neck Dress</a></h3>
                        <span class="price">Rs 5000</span>
                    </div>

                    <div class="product-preview category3">
                        <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-05.jpg" width="270" height="328" alt=""></a>
                            <ul class="product-controls-list right hide-right">
                                <li class="top-out"></li>
                                <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                            </ul>
                            <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                            <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                        </div>
                        <h3 class="title"><a href="#">Floral Print Dress</a></h3>
                        <span class="price">Rs 3500</span>
                    </div>

                    <div class="product-preview category2">
                        <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-06.jpg" width="269" height="328" alt=""></a>
                            <ul class="product-controls-list right hide-right">
                                <li class="top-out"></li>
                                <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                            </ul>
                            <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                            <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                        </div>
                        <h3 class="title"><a href="#">Layered Cami Dress</a></h3>
                        <div class="product-options-outer">
                            <div class="product-options"> <i class="disable icon icon-size">39</i> <i class="icon icon-size">40</i> <i class="disable icon icon-size">41</i> <i class="icon icon-size">42</i> <i class="icon icon-size">43</i> <i class="icon icon-size">44</i> <i class="icon icon-size">45</i> <i class="disable icon icon-size">46</i> </div>
                            <div class="product-options"> <i class="icon icon-color icon-color-white" data-href="images/products/product-12.jpg"></i> <i class="icon icon-color icon-color-beige" data-href="images/products/product-17.jpg"></i> <i class="icon icon-color icon-color-red" data-href="images/products/product-25.jpg"></i> <i class="icon icon-color icon-color-pink" data-href="images/products/product-31.jpg"></i> <i class="icon icon-color icon-color-magneta"  data-href="images/products/product-07.jpg"></i> <i class="disable icon icon-color icon-color-green"  data-href="images/products/product-11.jpg"></i> <i class="disable icon icon-color icon-color-gray"></i> <i class="disable icon icon-color icon-color-brown"></i> </div>
                        </div>
                        <span class="price">Rs 2400</span>
                    </div>

                    <div class="product-preview category1">
                        <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-07.jpg" width="350" height="425" alt=""></a>
                            <ul class="product-controls-list right hide-right">
                                <li class="top-out"></li>
                                <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                            </ul>
                            <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                            <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                        </div>
                        <h3 class="title"><a href="#">Plain Colour Dress</a></h3>
                        <div class="product-options-outer">
                            <div class="product-options"> <i class="disable icon icon-size">39</i> <i class="icon icon-size">40</i> <i class="disable icon icon-size">41</i> <i class="icon icon-size">42</i> <i class="icon icon-size">43</i> <i class="icon icon-size">44</i> <i class="icon icon-size">45</i> <i class="disable icon icon-size">46</i> </div>
                        </div>
                        <span class="price">Rs 1250</span>
                    </div>

                    <div class="product-preview category2">
                        <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-08.jpg" width="270" height="328" alt=""></a>
                            <ul class="product-controls-list right">
                                <li><span class="label label-sale">SALE</span></li>
                                <li><span class="label">-20%</span></li>
                            </ul>
                            <ul class="product-controls-list right hide-right">
                                <li class="top-out"></li>
                                <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                            </ul>
                            <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                            <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                        </div>
                        <h3 class="title"><a href="#">Short maxi Dress</a></h3>
                        <span class="price old">Rs 3000</span> <span class="price new">Rs 2700</span>
                    </div>

                    <div class="product-preview category3">
                        <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-09.jpg" width="270" height="328" alt=""></a>
                            <ul class="product-controls-list right">
                                <li><span class="label label-sale">SALE</span></li>
                                <li><span class="label">-20%</span></li>
                            </ul>
                            <ul class="product-controls-list right hide-right">
                                <li class="top-out"></li>
                                <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                            </ul>
                            <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                            <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                        </div>
                        <h3 class="title"><a href="#">Smocked Waist</a></h3>
                        <span class="price old">Rs 4000</span> <span class="price new">Rs 3550</span>
                    </div>

                    <div class="product-preview category4">
                        <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-10.jpg" width="350" height="425" alt=""></a>
                            <ul class="product-controls-list">
                                <li><span class="label label-new">NEW</span></li>
                            </ul>
                            <ul class="product-controls-list right hide-right">
                                <li class="top-out"></li>
                                <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                            </ul>
                            <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                            <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                        </div>
                        <h3 class="title"><a href="#">Double-Layer Dress</a></h3>
                        <div class="product-options-outer">
                            <div class="product-options"> <i class="disable icon icon-size">39</i> <i class="icon icon-size">40</i> <i class="disable icon icon-size">41</i> <i class="icon icon-size">42</i> <i class="icon icon-size">43</i> <i class="icon icon-size">44</i> <i class="icon icon-size">45</i> <i class="disable icon icon-size">46</i> </div>
                        </div>
                        <span class="price">Rs 2000</span>
                    </div>

                    <div class="product-preview category3">
                        <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-11.jpg" width="350" height="425" alt=""></a>
                            <ul class="product-controls-list right hide-right">
                                <li class="top-out"></li>
                                <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                            </ul>
                            <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                            <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                        </div>
                        <h3 class="title"><a href="#">Lace Overlay Top</a></h3>
                        <span class="price">Rs 1800</span>
                    </div>

                    <div class="product-preview category3">
                        <div class="preview animate scale"> <a href="product_default.html" class="preview-image"><img class="img-responsive animate scale" src="images/products/product-12.jpg" width="350" height="425" alt=""></a>
                            <ul class="product-controls-list right hide-right">
                                <li class="top-out"></li>
                                <li><a href="#" class="circle"><span class="icon-facebook"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                <li><a href="#" class="circle"><span class="icon-basket"></span></a></li>
                            </ul>
                            <a href="_ajax_view-product-popup.html" class="quick-view  fancybox fancybox.ajax hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> <span class="icon-zoom-in-2"></span> Quick View </a>
                            <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                        </div>
                        <h3 class="title"><a href="#">Sleeve Top Coloured</a></h3>
                        <span class="price">Rs 2000</span>
                    </div>


                </div>
            </div>
            <!-- //end Products list -->
        </section>


        <div class="container">
        <!-- Brands -->
        <section class="content content-border">
            <h3>BRANDS</h3>
            <div class="brands carouFredSel row">
                <div class="carouFredSel-controls">
                    <div class="carouFredSel-buttons"><a id="brands-carousel-prev" class="prev" href="#"></a><a id="brands-carousel-next" class="next" href="#"></a></div>
                </div>
                <div class="brands-carousel">
                    <ul class="slides">
                        <li><a href="#"><img src="images/brand-themeforest.png" alt=""></a></li>
                        <li><a href="#"><img src="images/brand-activeden.png" alt=""></a></li>
                        <li><a href="#"><img src="images/brand-audiojungle.png" alt=""></a></li>
                        <li><a href="#"><img src="images/brand-videohive.png" alt=""></a></li>
                        <li><a href="#"><img src="images/brand-graphicriver.png" alt=""></a></li>
                        <li><a href="#"><img src="images/brand-3docean.png" alt=""></a></li>
                        <li><a href="#"><img src="images/brand-themeforest.png" alt=""></a></li>
                        <li><a href="#"><img src="images/brand-activeden.png" alt=""></a></li>
                        <li><a href="#"><img src="images/brand-audiojungle.png" alt=""></a></li>
                        <li><a href="#"><img src="images/brand-videohive.png" alt=""></a></li>
                        <li><a href="#"><img src="images/brand-graphicriver.png" alt=""></a></li>
                        <li><a href="#"><img src="images/brand-3docean.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- //end Brands -->
        <!-- Social navbar -->
        <section class="content content-border nopad-xs social-widget">
            <div class="row">
                <div class="col-sm-6 col-md-6  col-lg-6 newsletter collapsed-block">
                    <div class="row">
                        <div class="col-lg-5  col-md-12 col-sm-12 ">
                            <h3>NEWSLETTER SIGNUP <a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 tabBlock" id="TabBlock-1">
                            <p>Enter your email and we'll send you a coupon with 10% off your next order.</p>
                            <form class="form-inline" role="form">
                                <div class="form-group input-control">
                                    <button type="submit" class="button"><span class="icon-envelop"></span></button>
                                    <input type="text" class="form-control" value="Your E-mail..." onblur="if (this.value == '') {this.value = 'Your E-mail...';}" onfocus="if(this.value == 'Your E-mail...') {this.value = '';}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 collapsed-block">
                    <h3>FIND US ON<a class="expander visible-xs" href="#TabBlock-2">+</a></h3>
                    <div  class="tabBlock" id="TabBlock-2">
                        <ul class="find-us">
                            <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-facebook-3"></span></a></li>
                            <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-twitter-3"></span></a></li>
                            <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-linkedin-2"></span></a></li>
                            <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-youtube-3"></span></a></li>
                            <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-pinterest-2"></span></a></li>
                            <li class="divider"><a href="#" class="animate-scale"><span class="icon icon-googleplus-2"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- //end Social navbar -->
        </div>
    </div>
</div>