<div class="responsive">
    <!--<div class="loader">
        <div class="bubblingG"> <span id="bubblingG_1"> </span> <span id="bubblingG_2"> </span> <span id="bubblingG_3"> </span> </div>
    </div>-->
    <!-- Off Canvas Menu -->
    <!--<nav id="off-canvas-menu" >
        <div id="off-canvas-menu-title">MENU<span class="icon icon-cancel-3" id="off-canvas-menu-close"></span></div>
        <ul class="expander-list">
            <li> <span class="name"><span class="expander">-</span> <a href="index.html">Home</a></span>
            </li>
            <li> <span class="name"><span class="expander">-</span> <a href="index.html">Women</a></span>
                <ul>
                    <li><span class="name"><a href="#">T-shirts</a></span> </li>
                    <li><span class="name"><a href="#">Jeans</a></span> </li>
                    <li><span class="name"><a href="#">Pants</a></span> </li>
                    <li><span class="name"><a href="#">Shorts</a></span> </li>
                    <li><span class="name"><a href="#">Accessories</a></span></li>
                    <li><span class="name"><a href="#">Foot Wear</a></span></li>
                    <li><span class="name"><a href="#">Formal Wear</a></span></li>
                </ul>
            </li>
            <li> <span class="name"><span class="expander">-</span> <a href="listing.html">Men </a></span>
                <ul>
                    <li> <span class="name"><a href="#"> T-shirts </a></span></li>
                    <li> <span class="name"><a href="#"> Shirts </a> </span></li>
                    <li> <span class="name"><a href="#"> Denims </a></span> </li>
                    <li> <span class="name"><a href="#"> Shoes </a></span></li>
                </ul>
            </li>
            <li> <span class="name"><span class="expander">-</span> <a href="product_default.html">Kids</a></span>
                <ul>
                    <li> <span class="name"><a href="#">T-shirts </a> </span></li>
                    <li> <span class="name"><a href="#">Frocks</a> </span></li>
                    <li> <span class="name"><a href="#">Toys</a></span></li>
                    <li> <span class="name"><a href="#">Other</a></span></li>

                </ul>
            </li>
            <li> <span class="name"><span class="expander">-</span> <a href="blog.html">Today's deals</a></span>
            </li>
            <li> <span class="name"><span class="expander">-</span> <a href="gallery_3d.html">Offers</a></span>
            </li>
            <li> <span class="name"><span class="expander">-</span> <a href="typography.html">Shops</a></span>
                <ul>
                    <li><span class="name"><a href="#">Odel</a></span></li>
                    <li><span class="name"><a href="#">Kelly Felder</a></span></li>
                    <li><span class="name"><a href="#">Nills</a></span></li>
                    <li><span class="name"><a href="#">Keko</a></span></li>
                    <li><span class="name"><a href="#">Queens</a></span></li>
                    <li><span class="name"><a href="#">Prince</a></span></li>
                </ul>
            </li>
            <li> <span class="name"> <span class="expander">-</span> <a href="listing.html">Promotions</a> </span>
                <ul>
                    <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-dress"></span>Dresses</a> </span>
                        <ul>
                            <li><span class="name"><a href="#">Club Dresses</a></span></li>
                            <li><span class="name"><a href="#">Evening Dresses</a></span></li>
                            <li><span class="name"><a href="#">Prom Dresses</a></span></li>
                        </ul>
                    </li>
                    <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-shirts"></span>Shirts</a> </span>
                        <ul>
                            <li><span class="name"><a href="#">Empty category #1</a></span></li>
                            <li><span class="name"><a href="#">Empty category #2</a></span></li>
                            <li><span class="name"><a href="#">Empty category #3</a></span></li>
                        </ul>
                    </li>
                    <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-coats"></span>Coats</a> </span>
                        <ul>
                            <li><span class="name"><a href="#">Empty category #4</a></span></li>
                            <li><span class="name"><a href="#">Empty category #5</a></span></li>
                            <li><span class="name"><a href="#">Empty category #6</a></span></li>
                        </ul>
                    </li>
                    <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-jackets"></span>Jackets</a> </span>
                        <ul>
                            <li><span class="name"><a href="#">Empty category #7</a></span></li>
                            <li><span class="name"><a href="#">Empty category #8</a></span></li>
                            <li><span class="name"><a href="#">Empty category #9</a></span></li>
                        </ul>
                    </li>
                    <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-shorts"></span>Shorts</a> </span>
                        <ul>
                            <li><span class="name"><a href="#">Empty category #10</a></span></li>
                            <li><span class="name"><a href="#">Empty category #11</a></span></li>
                            <li><span class="name"><a href="#">Empty category #12</a></span></li>
                        </ul>
                    </li>
                    <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-jeans"></span>Jeans</a> </span>
                        <ul>
                            <li><span class="name"><a href="#">Empty category #10</a></span></li>
                            <li><span class="name"><a href="#">Empty category #11</a></span></li>
                            <li><span class="name"><a href="#">Empty category #12</a></span></li>
                        </ul>
                    </li>
                    <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-skirts"></span>Skirts</a> </span>
                        <ul>
                            <li><span class="name"><a href="#">Empty category #16</a></span></li>
                            <li><span class="name"><a href="#">Empty category #17</a></span></li>
                        </ul>
                    </li>
                    <li> <span class="name"> <span class="expander">-</span> <a href="listing.html"><span class="icon m-icon-lingerie"></span>Lingerie</a> </span>
                        <ul>
                            <li><span class="name"><a href="#">Empty category #18</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #19</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #20</a></span></li>
                        </ul>
                    </li>
                    <li><span class="name"><a href="listing.html"><span class="icon m-icon-tops"></span>Tops</a></span>
                        <ul>
                            <li><span class="name"><a href="listing.html">Empty category #21</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #22</a></span></li>
                            <li><span class="name"><a href="listing.html">Empty category #23</a></span></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><span class="name"><a href="#">Special Offers</a></span></li>
            <li><span class="name"><a href="#">Contacts</a></span></li>
        </ul>
    </nav>-->
    <!-- //end Off Canvas Menu -->

    <div id="outer">
        <div id="outer-canvas"> <!-- Navbar -->
            <header>

                <!-- Back to top -->
                <div class="back-to-top"><span class="icon-arrow-up-4"></span></div>
                <!-- //end Back to top -->

                <section class="navbar">
                    <div class="background">
                        <div class="container">
                            <!-- Logo -->
                            <div class="navbar-logo pull-left"> <a href="index.html"><img src="images/header-logo.png" alt="Trendi"></a></div>
                            <div class="navbar-welcome pull-left compact-hidden hidden-xs"> {{user.name?'Welcome '+user.name:''}} </div>
                            <div class="clearfix visible-sm"></div>
                            <!-- //end Logo -->
                            <!-- Secondary menu -->
                            <div class="navbar-secondary-menu pull-right hidden-xs">
                                <div class="btn-group compact-hidden"> <a href="#"  class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"> <span class="icon icon-vcard"></span> Account <span class="caret"></span> </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Account</a></li>
                                        <li><a href="#">Wishlist</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li class="divider"></li>
                                        <li><a href="login.html">Log In</a></li>
                                        <li><a href="login.html">Sign Up</a></li>
                                    </ul>
                                </div>

                                <div class="btn-group compact-hidden"> <a href="#"  class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"> <span class="icon icon-justice"></span> Compare (0) <span class="caret"></span> </a>
                                    <div class="dropdown-menu pull-right shoppingcart-box empty" role="menu"> No items to compare </div>
                                </div>
                                <div class="btn-group compact-hidden"> <a ng-click="loginOpen()" class="btn btn-xs btn-default dropdown-toggle">{{checkLogin()?'Logout':'Login'}}</a>
                                </div>
                                <trendi-bag></trendi-bag>
                                <!--<div class="btn-group" ng-class="bagOpen?'open':''"> <a  class="btn btn-xs btn-default dropdown-toggle" ng-click="bagOpen = !bagOpen"> <span class="compact-hidden">Bag - <strong>Rs 2000</strong></span> <span class="icon-xcart-animate"><span class="box">3</span><span class="handle"></span></span> </a>
                                    <div class="dropdown-menu pull-right shoppingcart-box" role="menu"> Recently added item(s)
                                        <ul class="list">
                                            <li class="item"> <a href="product_default.html" class="preview-image"><img class="preview" src="images/products/product-07-small.jpg" alt=""></a>
                                                <div class="description"> <a href="#">Silk Saree</a> <strong class="price">Rs 1000 * 2</strong> </div>
                                            </li>
                                            <li class="item"> <a href="product_default.html" class="preview-image"><img class="preview" src="images/products/product-07-small.jpg" alt=""></a>
                                                <div class="description"> <a href="#">Frock</a> <strong class="price">Rs 300 * 1</strong> </div>
                                            </li>
                                            <li class="item"> <a href="product_default.html" class="preview-image"><img class="preview" src="images/products/product-07-small.jpg" alt=""></a>
                                                <div class="description"> <a href="#">Jeans</a> <strong class="price">Rs 1700 * 1</strong> </div>
                                            </li>
                                        </ul>
                                        <div class="total">Total: <strong>Rs 2000/=</strong></div>
                                        <a href="#" class="btn btn-mega">Visit Store</a>
                                        <div class="view-link"><a href="shopping_cart.html">View bag </a></div>
                                    </div>
                                </div>-->
                            </div>

                            <!-- Search -->
                            <form class="navbar-search form-inline hidden-xs pull-right" role="form">
                                <div class="form-group">
                                    <button type="submit" ng-click="searchTerm()" class="button"><span class="icon-search-2"></span></button>
                                    <input type="text" class="form-control" placeholder="Search" ng-keyup="searchType($event)" ng-model="searchKey">
                                </div>
                                <div class="dropdown-search">
                                    <ul>
                                        <li><a href="#"><span class="amount">12</span>search auto</a></li>
                                        <li><a href="#"><span class="amount">22</span>search auto</a></li>
                                        <li><a href="#"><span class="amount">2</span>search auto</a></li>
                                        <li><a href="#"><span class="amount">45</span>search auto</a></li>
                                        <li><a href="#"><span class="amount">11</span>search auto</a></li>
                                        <li><a href="#"><span class="amount">4</span>search auto</a></li>
                                    </ul>
                                </div>
                            </form>
                            <!-- //end Search --> <!-- Main menu -->
                            <dl class="navbar-main-menu hidden-xs">
                                <dt class="item">
                                <ul class="sf-menu">
                                    <li><a ng-click="homeClick(0)" class="btn-main"><span class="icon icon-home"></span></a></li>
                                </ul>
                                </dt>
                                <dd></dd>
                                <dt class="item">
                                    <trendi-menu-bar menu-type="womenMenu"></trendi-menu-bar>
                                </dt>
                                <dd></dd>
                                <dt class="item">
                                    <trendi-menu-bar menu-type="menMenu"></trendi-menu-bar>
                                </dt>
                                <dd></dd>
                                <dt class="item">
                                    <trendi-menu-bar menu-type="kidsMenu"></trendi-menu-bar>
                                </dt>
                                <dd></dd>
                                <dt class="item">
                                <ul class="sf-menu">
                                    <li> <a href="blog.html"> Today's deals </a>

                                    </li>
                                </ul>
                                </dt>
                                <dd></dd>
                                <dt class="item">
                                <ul class="sf-menu">
                                    <li> <a href="gallery_3d.html"> Offers </a>

                                    </li>
                                </ul>
                                </dt>
                                <dd></dd>
                                <dt class="item compact-hidden"> <a href="#" class="btn-main line">Promotions</a> </dt>
                                <trendi-wide-menu-bar></trendi-wide-menu-bar>
                                <dt class="item compact-hidden"> <a ng-click="gotoShop()" class="btn-main line">SHOPS</a> </dt>
                                <trendi-wide-menu-bar shoplist="shopList"></trendi-wide-menu-bar>
                                <dt class="item"> <a href="contacts.html" class="btn-main line">Contacts</a> </dt>
                                <dd></dd>
                            </dl>
                            <!-- //end Main menu -->

                        </div>
                    </div>
                    <!-- Mobile menu -->
                    <div class="container visible-xs">
                        <trendi-mobile-menu></trendi-mobile-menu>

                    </div>

                    <!-- //end Mobile menu -->
                    <!-- Navbar switcher -->
                    <div class="navbar-switcher-container">
                        <!-- <div class="navbar-switcher"> <span class="i-inactive"><img src="images/icon-small.png" width="35" height="35" alt="samll icon fashion.lk"></span> <span class="i-active icon-cancel-3"></span> </div>-->
                        <trendi-hide-menu></trendi-hide-menu>
                    </div>
                    <!-- //end Navbar switcher -->

                </section>
                <!-- Navbar height -->
                <div class="navbar-height-inner"></div>
                <!-- Navbar height -->

                <!-- Navbar height -->
                <div class="navbar-height"></div>
                <!-- Navbar height -->
            </header>
            <!-- Content loading here -->
            <ui-view>

            </ui-view>
            <!-- Content loading here -->

            <footer>
                <section class="footer-navbar dark">
                    <div class="container content nopad-xs">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3>Information<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
                                <div  class="tabBlock" id="TabBlock-3">
                                    <ul class="menu">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Privacy Notice</a></li>
                                        <li><a href="#">Conditions of Use</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block"> <h3><span class="attention"><span class="attention_icon"></span></span>Customer service<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
                                <div  class="tabBlock" id="TabBlock-4">
                                    <ul class="menu">
                                        <li><a href="#">Online support</a></li>
                                        <li><a href="#">Help & FAQs</a></li>
                                        <li><a href="#">Call Center</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3>My account<a class="expander visible-xs" href="#TabBlock-5">+</a></h3>
                                <div  class="tabBlock" id="TabBlock-5">
                                    <ul class="menu">
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">Order history</a></li>
                                        <li><a href="#">Advanced search</a></li>
                                        <li><a href="#">Reviews</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 collapsed-block">
                                <h3>CONTACT US<a class="expander visible-xs" href="#TabBlock-6">+</a></h3>
                                <div  class="tabBlock" id="TabBlock-6">
                                    <ul class="menu">
                                        <li><span class="icon icon-house"></span> Moratuwa Sri Lanka</li>
                                        <li><span class="icon icon-phone-4"></span> +94 123456</li>
                                        <li><span class="icon icon-envelop"></span> <a href="#">pathumpmg.com</a></li>
                                        <li><span class="icon icon-skype-2"></span> <a href="#">www.fashion.lk</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="footer-bottom-block container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 copyright-text"> &copy; 2015<a href="#">fashion.lk</a>. All Rights Reserved. </div>
                        <div class="col-sm-8 col-md-8">
                            <ul class="payment-list pull-right">
                                <li><img src="images/icon-payment-01.png" width="36" height="22" alt=""></li>
                                <li><img src="images/icon-payment-02.png" width="36" height="22" alt=""></li>
                                <li><img src="images/icon-payment-03.png" width="36" height="22" alt=""></li>
                                <li><img src="images/icon-payment-04.png" width="36" height="22" alt=""></li>
                                <li><img src="images/icon-payment-05.png" width="36" height="22" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </footer>
            <div id="outer-overlay"></div>
            <!-- //end Footer --></div>
    </div>
</div>
