<div class="header">
    <h2><strong>Product</strong> Collection</h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li>
                <a href="#">Make</a>
            </li>
            <li>
                <a href="#">Forms</a>
            </li>
            <li class="active">Form Elements</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel ">
            <div class="panel-content">
                <tabset class="tab-fade-in">
                    <tab  ng-click="goto('item')">
                        <tab-heading>
                            Item
                        </tab-heading>

                    </tab>
                    <tab ng-click="goto('album')">
                        <tab-heading>
                            Album
                        </tab-heading>
                    </tab>
                </tabset>
                <ui-view>

                </ui-view>
            </div>
        </div>
    </div>
   <!-- <div class="col-md-12">
        <div class="panel">
            <div class="panel-header">
                <button class="btn btn-success" ng-click="addNew()">
                    <i class="icon-plus"></i> Add New
                </button>
            </div>
            <div class="panel-content">
                <table  class="table table-hover table-dynamic">
                    <thead>
                    <tr>
                        <th><button class="btn btn-warning" ng-click="refresh()">
                            <i class=".icon-plus"></i> Reset Filters
                            </button>
                        </th>
                        <th class="sorting"  rowspan="1" colspan="1"  style="width: 196px;">
                            Product Id<input type="text" ng-keypress="searchPress($event)" class="form-control" placeholder="Filter By Product Id" ng-model="search['itemId']"></th>
                        <th class="sorting" rowspan="1" colspan="1" style="width: 196px;">
                            Product Name<input type="text" ng-keypress="searchPress($event)"  class="form-control" placeholder="Filter By Name" ng-model="search['item.name']"></th>
                        <th class="sorting"  rowspan="1" colspan="1"  style="width: 196px;">
                            Price<input type="text" ng-keypress="searchPress($event)" class="form-control" placeholder="Filter By Price" ng-model="search['item.price']"></th>
                        <th class="sorting" rowspan="1" colspan="1"  style="width: 196px;">
                            Status <select ng-model="search['approved']" class="form-control form-filter srch-select-opt">
                            <option value="">-&#45;&#45;All-&#45;&#45;</option>
                            <option value=true>Approved</option>
                            <option value=undefined>Pending</option>
                            <option value=false>Rejected</option>
                        </select></th>
                        <th><button class="btn btn-primary" ng-click="searchPress({},true)">
                                <i class="..icon-magnifier"></i> Search in Advance
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody infinite-scroll='paginationFuntion()' infinite-scroll-distance='0.01'>
                    <tr ng-repeat="item in itemList | searchFilter:search">
                        <td><span class="pull-left p-r-5">
                                                <img alt="{{ item.item.name }}" ng-src="{{item.item.image}}" class="table-img-icon"/>
                                                </span></td>
                        <td>{{ item.itemId }}</td>
                        <td>{{ item.item.name }}</td>
                        <td>{{ item.item.price }}</td>
                        <td><span ng-if="item.approved == true"  class="label label-success">Approved</span>
                            <span ng-if="item.approved == false"  class="label label-danger">Rejected</span>
                            <span ng-if="item.approved == undefined"  class="label label-warning">Pending</span></td>
                        <td><div><a class="edit btn btn-sm btn-default" href="javascript:;" ng-click="open(item)"><i class="icon-note" ></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;" ng-click="remove(item.itemId)"><i class="icons-office-52"></i></a></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>-->
</div>
<div class="footer">
    <div class="copyright">
        <p class="pull-left sm-pull-reset">
            <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
            <span>Trendi</span>.
            <span>All rights reserved. </span>
        </p>
        <p class="pull-right sm-pull-reset">
            <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
        </p>
    </div>
</div>



<!--<div>
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
            <md-tab label="Full Item List">
                <md-content class="md-padding">
                    <div>
                        <trendi-search actions="search"></trendi-search>
                        <div style="padding-top: 150px;">
                            <md-button class="md-raised md-primary" ng-click="EditViewController('')"><md-icon md-svg-src="add-circle"></md-icon> Add New Item</md-button>
                            <div style="padding-top: 20px;">
                                <md-list infinite-scroll='paginationFuntion()' infinite-scroll-distance='0.01'>
                                    <md-list-item ng-repeat="item in itemList" ng-click="EditViewController(item)">
                                        <img alt="{{ item.item.name }}" ng-src="{{item.item.image}}" class="md-avatar" />
                                        <p>{{ item.item.name }}</p>
                                        &lt;!&ndash; <md-svg-icon class="ic_24px" icon="{{person.iconimg}}"></md-svg-icon>&ndash;&gt;
                                        <md-icon md-svg-icon="communication:ic_settings" ng-click="EditViewController(item)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': item.item.name}"></md-icon>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="{{headerText}}" ng-disabled="selectedIndex == 0">
                <md-content class="md-padding">
                    <h5 class="md-display-2">{{headerText}}</h5>
                    <form novalidate="" name="itemForm">
                        <div>

                            &lt;!&ndash;<p>
                                The mango is a juicy stone fruit belonging to the genus Mangifera, consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit. The majority of these species are found in nature as wild mangoes. They all belong to the flowering plant family Anacardiaceae. The mango is native to South and Southeast Asia, from where it has been distributed worldwide to become one of the most cultivated fruits in the tropics.
                            </p>&ndash;&gt;
                            <div>
                                <div>
                                    <div class="col-md-12">
                                        &lt;!&ndash;<md-content layout-padding class="autoScroll">&ndash;&gt;
                                        <md-input-container class="md-icon-float" >
                                            &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                                            <label>Name</label>
                                            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                            <input ng-model="mainItem.name" name="name" type="text" ng-required="true">
                                            <div ng-messages="itemForm.name.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>

                                        </md-input-container>

                                        <md-input-container class="md-icon-float" >
                                            &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                                            <label>Price</label>
                                            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                            <input ng-model="mainItem.price" type="number" ng-required="true" name="price">
                                            <div ng-messages="itemForm.price.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="md-icon-float" >
                                            &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                                            <label>Description</label>
                                            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                            <input md-maxlength="30" ng-required="true" name="description" ng-model="mainItem.description">
                                            <div ng-messages="itemForm.description.$error">
                                                <div ng-message="required">This is required.</div>
                                                <div ng-message="md-maxlength">The description has to be less than 30 characters long.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container md-no-float>
                                            <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                                            <trendi-chips selected-items="slectedSizes" item-list="sizes" placeholder="Enter Available Sizes"></trendi-chips>
                                        </md-input-container>

                                        <md-input-container md-no-float>
                                            <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                                            <trendi-chips selected-items="slectedTypes" item-list="types" placeholder="Enter Type Tags"></trendi-chips>
                                        </md-input-container>
                                        &lt;!&ndash;<md-input-container class="md-icon-float">
                                            <label>Description</label>
                                            <input md-maxlength="30" required name="description" ng-model="mainItem.description">
                                            <div ng-if="addItemForm.$error">
                                                <div>This is required.</div>
                                                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                                            </div>
                                        </md-input-container>&ndash;&gt;

                                        <md-input-container md-no-float>
                                            <md-checkbox ng-model="mainItem.onSale" aria-label="Checkbox 1">
                                                On Sale
                                            </md-checkbox>
                                        </md-input-container>

                                        <md-input-container  ng-show="mainItem.onSale" class="md-icon-float">
                                            &lt;!&ndash; Use floating placeholder instead of label &ndash;&gt;
                                            <label>Discount (%)</label>
                                            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                            <input ng-model="mainItem.discount" type="number" ng-required="mainItem.onSale">
                                        </md-input-container>

                                        <md-input-container md-no-float>
                                            <md-checkbox ng-model="group.men" aria-label="Checkbox 1">
                                                Gents
                                            </md-checkbox>
                                            <md-checkbox ng-model="group.women" aria-label="Checkbox 2">
                                                Ladies
                                            </md-checkbox>
                                            <md-checkbox ng-model="group.kids" aria-label="Checkbox 3">
                                                Kids
                                            </md-checkbox>
                                        </md-input-container>

                                        <div>
                                            <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
                                            <div ng-repeat="color in selectedColors">
                                                <color-picker color-picker-format="'hex'" ng-model="color.color"></color-picker>
                                            </div>

                                        </div>

                                        <md-input-container class="md-icon-float" >
                                            &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                                            <label>Like</label>
                                            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                            <input ng-model="mainItem.like" type="number"  name="like" ng-disabled="true">
                                        </md-input-container>

                                        <md-input-container class="md-icon-float" >
                                            &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                                            <label>Seen</label>
                                            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                            <input ng-model="mainItem.seen" type="number" name="seen" ng-disabled="true">
                                        </md-input-container>

                                        <div ng-if="selectedIndex == 1">
                                            <trendi-file-upload files="mainImage" image-size="imageSize"  image-count="imageCount"></trendi-file-upload>
                                        </div>

                                        <div class="md-actions" layout="row">
                                            <div ng-if="addNew">
                                                <md-button  class="md-raised md-primary" ng-disabled="(itemForm.$invalid || mainImage.length == 0) || btnPressed" ng-click="answer(1)" md-autofocus>
                                                    Save
                                                </md-button>
                                                <span flex></span>
                                            </div>
                                            <div ng-if="!addNew">
                                                <md-button class="md-raised md-primary" ng-disabled="(itemForm.$invalid || mainImage.length == 0) || btnPressed" ng-click="answer(2)" md-autofocus>
                                                    Update
                                                </md-button>
                                                <span flex></span>
                                                <md-button class="md-raised md-warn" ng-disabled="btnPressed" ng-click="answer(0)" >
                                                    Remove
                                                </md-button>
                                            </div>

                                            <md-button ng-click="close('2')" style="margin-right:20px;" >
                                                Close
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>-->

