<div class="header">
    <h2><strong>Product</strong> Collection</h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li>
                <a href="#">Make</a>
            </li>
            <li>
                <a href="#">Forms</a>
            </li>
            <li class="active">Form Elements</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel ">
            <div class="panel-content">
                <tabset class="tab-fade-in">
                    <tab  ng-click="goto('item')">
                        <tab-heading>
                            Item
                        </tab-heading>

                    </tab>
                    <tab ng-click="goto('album')">
                        <tab-heading>
                            Album
                        </tab-heading>
                    </tab>
                </tabset>
                <ui-view>

                </ui-view>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="copyright">
        <p class="pull-left sm-pull-reset">
            <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
            <span>Trendi</span>.
            <span>All rights reserved. </span>
        </p>
        <p class="pull-right sm-pull-reset">
            <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
        </p>
    </div>
</div>


