<div class="header">
    <h2><strong>Product</strong> Collection</h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li>
                <a href="#">Make</a>
            </li>
            <li>
                <a href="#">Forms</a>
            </li>
            <li class="active">Form Elements</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-header">
            </div>
            <div class="panel-content">
                <table  class="table table-hover table-dynamic">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 196px;">Shop Id<input type="text" onclick="stopPropagation(event);" class="form-control" placeholder="Filter By Shop Id" ng-model="search.branch.shopId"></th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 196px;">Branch Id<input type="text" onclick="stopPropagation(event);" class="form-control" placeholder="Filter By Branch Id" ng-model="search.branch.branchId"></th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 196px;">Name<input type="text" onclick="stopPropagation(event);" class="form-control" placeholder="Filter By Name" ng-model="search.name"></th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 196px;">Email<input type="text" onclick="stopPropagation(event);" class="form-control" placeholder="Filter By Email" ng-model="search.email"></th> 
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody infinite-scroll='paginationFuntion()' infinite-scroll-distance='0.01'>
                    <tr ng-repeat="item in userList | filter:search:strict">
                        <td><span class="pull-left p-r-5">
                                                <img alt="{{ item.name }}" ng-src="{{item.profilePic}}" class="table-img-icon"/>
                                                </span></td>
                        <td>{{ item.branch.shopId }}</td>
                        <td>{{ item.branch.branchId }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.email }}</td>
                        <td><div><a class="edit btn btn-sm btn-default" href="javascript:;" ng-click="open(item)" ng-disabled="btnPressed"><i class="icon-note" ></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;" ng-click="remove(item)" ng-disabled="btnPressed"><i class="icons-office-52"></i></a></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="copyright">
        <p class="pull-left sm-pull-reset">
            <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
            <span>Trendi</span>.
            <span>All rights reserved. </span>
        </p>
        <p class="pull-right sm-pull-reset">
            <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
        </p>
    </div>
</div>


<!--<div>
<md-content class="md-padding">
<md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
    <md-tab label="Full Item List">
        <md-content class="md-padding">
            <div>
                <trendi-search actions="search"></trendi-search>
                <div style="padding-top: 150px;">
                    <md-button class="md-raised md-primary" ng-click="EditViewController('')"><md-icon md-svg-src="add-circle"></md-icon> Add New Item</md-button>
                    <div style="padding-top: 20px;">
                        <md-list infinite-scroll='paginationFuntion()' infinite-scroll-distance='0.01'>
                            <md-list-item ng-repeat="user in userList" ng-click="EditViewController(user)">
                                <img alt="{{ user.name }}" ng-src="{{user.profilePic}}" class="md-avatar" />
                                <p>{{ user.name }}</p>
                                &lt;!&ndash; <md-svg-icon class="ic_24px" icon="{{person.iconimg}}"></md-svg-icon>&ndash;&gt;
                                <md-icon md-svg-icon="communication:ic_settings" ng-click="EditViewController(user)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': user.name}"></md-icon>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </md-content>
    </md-tab>
    <md-tab label="{{headerText}}" ng-disabled="selectedIndex == 0">
        <md-content class="md-padding">
            <h5 class="md-display-2">{{headerText}}</h5>
            <form novalidate="" name="itemForm">
                <div>
                    <div class="col-md-12">
                        <div class="raw">
                            <div class="col-md-6">
                                <h6>User Details</h6>
                                <md-input-container flex>
                                    &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                                    <label>Name</label>
                                    <input ng-model="regUser.name" name="name" type="text" ng-required="true">
                                    <div ng-messages="itemForm.name.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>

                                </md-input-container>

                                <md-input-container flex>
                                    &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                                    <label>Email</label>
                                    <input ng-disabled="!addNew" ng-model="regUser.email" name="email" type="email" ng-required="true">
                                    <div ng-messages="itemForm.email.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="email">Invalid email address</div>
                                    </div>

                                </md-input-container>

                                <md-input-container flex>
                                    &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                                    <label>Password</label>
                                    <input ng-disabled="!addNew" ng-model="regUser.password" name="password" type="password" ng-required="true">
                                    <div ng-messages="itemForm.password.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>

                                </md-input-container>

                                <md-input-container flex ng-if="addNew">
                                    &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                                    <label>Confirm Password</label>
                                    <input ng-model="regUser.confirm_password" name="confirm_password" type="password" ng-required="true" compare-to="regUser.password">
                                    <div ng-messages="itemForm.confirm_password.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="compareTo">Password does not match the confirm password.</div>
                                    </div>

                                </md-input-container>

                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Telephone</label>
                                        <input ng-model="regUser.hotline">
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Mobile</label>
                                        <input ng-model="regUser.mobile">
                                    </md-input-container>
                                </div>
                                <div class="raw">
                                    <div class="col-xs-6 col-sm-6">Select Title</div>
                                    <div class="col-xs-6 col-sm-6">
                                        <select ng-model="tmp.title" ng-options="data.key for data in titles"
                                                class="form-control form-filter srch-select-opt"></select>
                                    </div>
                                </div>
                                <accordion close-others="true">
                                    <accordion-group heading="Set Profile Picture">
                                    <div ng-if="initDirective">
                                        <trendi-file-upload files="tmp.profilePic" image-size="profilePicSize" image-count="1"></trendi-file-upload>
                                    </div>
                                    </accordion-group>
                                    <accordion-group heading="Set Entitlements">
                                        <div ng-if="initDirective && loadEntitlements">
                                            <trendi-entitlements input-entitlements="tmp.allEntitlements" output-entitlements="tmp.entitlements" old-entitlements="tmp.oldEntitlements"></trendi-entitlements>
                                        </div>
                                    </accordion-group>
                                </accordion>
                            </div>
                            <div class="col-md-6">
                                <h6>Branch Details</h6>
                                <div class="raw">
                                    <div class="col-xs-6 col-sm-6">Select Branch</div>
                                    <div class="col-xs-6 col-sm-6">
                                        <select ng-model="tmp.selectedBranch" ng-options="data.shop.name for data in branchList"
                                                class="form-control form-filter srch-select-opt"></select>
                                    </div>
                                </div>
                                <div class="raw">
                                    <img ng-show="tmp.selectedBranch.shop.iconImage != ''" alt="{{ user.name }}" ng-src="{{tmp.selectedBranch.shop.iconImage}}" class="md-avatar" />

                                    <md-input-container flex>
                                        &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                                        <label>Branch Name</label>
                                        <input ng-model="tmp.selectedBranch.shop.name" name="branchName" type="text"  ng-disabled="true">
                                        <div ng-messages="itemForm.branchName.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>

                                    </md-input-container>

                                    <md-input-container flex>
                                        <label>Address</label>
                                        <input ng-model="tmp.selectedBranch.shop.address.line1" ng-disabled="true">
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Address 2</label>
                                        <input ng-model="tmp.selectedBranch.shop.address.line2" ng-disabled="true">
                                    </md-input-container>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>City</label>
                                            <input ng-model="tmp.selectedBranch.shop.address.city" ng-disabled="true">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>State</label>
                                            <input ng-model="tmp.selectedBranch.shop.address.state" ng-disabled="true">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Postal Code</label>
                                            <input ng-model="tmp.selectedBranch.shop.address.postalCode" ng-disabled="true">
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>Hotline</label>
                                            <input ng-model="tmp.selectedBranch.shop.hotline" ng-disabled="true">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Mobile</label>
                                            <input ng-model="tmp.selectedBranch.shop.mobile" ng-disabled="true">
                                        </md-input-container>
                                    </div>
                                    <md-input-container flex>
                                        <label>Description</label>
                                        <input md-maxlength="100" name="description" ng-model="tmp.selectedBranch.shop.description" ng-disabled="true">
                                        <div ng-messages="itemForm.description.$error">
                                            <div ng-message="md-maxlength">The description has to be less than 100 characters long.</div>
                                        </div>
                                    </md-input-container>

                                </div>
                            </div>
                        </div>



                        <div class="raw">
                            <div class="col-md-8">
                                <div class="md-actions" layout="row">
                                    <div ng-if="addNew">
                                        <md-button  class="md-raised md-primary" ng-disabled="itemForm.$invalid || btnPressed" ng-click="answer(1)" md-autofocus>
                                            Save
                                        </md-button>
                                        <span flex></span>
                                    </div>
                                    <div ng-if="!addNew">
                                        <md-button class="md-raised md-primary" ng-disabled="itemForm.$invalid || btnPressed" ng-click="answer(2)" md-autofocus>
                                            Update
                                        </md-button>
                                        <span flex></span>
                                        <md-button class="md-raised md-warn" ng-disabled="btnPressed" ng-click="answer(0)" >
                                            Remove
                                        </md-button>
                                    </div>

                                    <md-button ng-click="close('2')" style="margin-right:20px;" >
                                        Close
                                    </md-button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </md-content>
    </md-tab>
</md-tabs>
</md-content>
</div>-->

