<!--
<div style="background-color: #e4e4e4">
    <h1>Admin View</h1>
    <div>
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                &lt;!&ndash; BEGIN SIDEBAR MENU &ndash;&gt;
                <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
                    <br/>
                    <li ng-repeat="menu in menuList" ng-class="{active: isActive(menu.key)}" ng-if="initMenu(menu)">
                        <a ng-click="menuClick(menu)">
                            <i class="fa fa-tachometer"></i>
                        <span class="title">
                            {{menu.value}}
                        </span>
                        <span class="selected">
                        </span>
                        </a>
                    </li>
                </ul>
                &lt;!&ndash; END SIDEBAR MENU &ndash;&gt;
            </div>
        </div>
    </div>
    &lt;!&ndash;TODO add some side menu here&ndash;&gt;
    <ui-view>

    </ui-view>
</div>-->
<div id="sb-wrapper">

    <!-- Navigation -->

    <nav class="navbar navbar-default sb-bar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="sb-bar-header">

            <button type="button" class="sb-bar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="sb-bar-brand" href="index.html">SB Admin v2.0</a>
        </div>
        <!-- /.navbar-header -->
       <!-- <header-notification></header-notification>-->

        <div class="sb-bar-default sidebar" role="navigation">
            <div class="sidebar-nav sb-bar-collapse">
                <ul class="nav in" id="side-menu">
                    <!--<sidebar-search></sidebar-search>-->
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li ui-sref-active="active">

                        <a ui-sref="dashboard.chart"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a>

                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.table"><i class="fa fa-table fa-fw"></i> Tables</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.form"><i class="fa fa-edit fa-fw"></i> Forms</a>
                    </li>
                    <li ng-class="{active: collapseVar==1}">{{dropDown}}
                        <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i> UI Elements<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" collapse="collapseVar!=1">
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.panels-wells">Panels and Wells</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.buttons">Buttons</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.notifications">Notifications</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.typography">Typography</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.icons"> Icons</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.grid">Grid</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li ng-class="{active: collapseVar==2}">
                        <a href="" ng-click="check(2)"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" collapse="collapseVar!=2">
                            <li>
                                <a href="">Second Level Item</a>
                            </li>
                            <li>
                                <a href="">Second Level Item</a>
                            </li>
                            <li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}">
                                <a href="" ng-click="multiCheck(3)">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level" collapse="multiCollapseVar!=3">
                                    <li>
                                        <a href="">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="">Third Level Item</a>
                                    </li>

                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li ng-class="{active:collapseVar==4}">
                        <a href="" ng-click="check(4)"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" collapse="collapseVar!=4">
                            <li ng-class="{active: selectedMenu=='blank'}">
                                <a ui-sref="dashboard.blank" ng-click="selectedMenu='blank'">Blank Page</a>
                            </li>
                            <li>
                                <a ui-sref="login">Login Page</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li><a href="http://www.strapui.com/">Premium Angular Themes</a></li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>

    </nav>
    <!-- /.navbar-top-links -->


    <!-- /.navbar-static-side -->

    <div id="sb-page-wrapper" style="min-height: 561px;">

        <div ui-view></div>

    </div>
    <!-- /#page-wrapper -->
</div>