<div class="header">
    <h2><strong>Promotion</strong> Collection</h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li>
                <a href="#">Make</a>
            </li>
            <li>
                <a href="#">Forms</a>
            </li>
            <li class="active">Form Elements</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-header">
                <button class="btn btn-success" ng-click="addNew()">
                    <i class="icon-plus"></i> Add New
                </button>
            </div>
            <div class="panel-content">
                <table  class="table table-hover table-dynamic">
                    <thead>
                    <tr>
                        <th><button class="btn btn-warning" ng-click="refresh()">
                            <i class=".icon-plus"></i> Reset Filters
                            </button>
                        </th>
                        <th class="sorting"  rowspan="1" colspan="1"  style="width: 196px;">
                            Blog Id<input type="text" ng-keypress="searchPress($event)" class="form-control" placeholder="Filter By Blog Id" ng-model="search['blogId']"></th>
                        <th class="sorting" rowspan="1" colspan="1" style="width: 196px;">
                            Title<input type="text" ng-keypress="searchPress($event)" class="form-control" placeholder="Filter By Title" ng-model="search['title']"></th>
                        <th class="sorting"  rowspan="1" colspan="1"  style="width: 196px;">
                            Shop Id<input type="text" ng-keypress="searchPress($event)" class="form-control" placeholder="Filter By Shop Id" ng-model="search['shop.shopId']"></th>
                        <th class="sorting" rowspan="1" colspan="1"  style="width: 196px;">
                            Status <select ng-model="search['approved']" class="form-control form-filter srch-select-opt">
                            <option value="">---All---</option>
                            <option value="true">Approved</option>
                            <option value=undefined>Pending</option>
                            <option value="false">Rejected</option>
                                    </select></th>
                        <th><button class="btn btn-primary" ng-click="searchPress({},true)">
                                <i class="..icon-magnifier"></i> Search in Advance
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody infinite-scroll='paginationFuntion()' infinite-scroll-distance='0.01'>
                    <tr ng-repeat="item in blogs | searchFilter:search">
                        <td>
                            <span class="pull-left p-r-5">
                                <img alt="{{ item.title }}" ng-src="{{item.img}}" class="table-img-icon"/>
                            </span>
                        </td>
                        <td>{{ item.blogId }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.shop.shopId}}</td>
                        <td><span ng-if="item.approved == true"  class="label label-success">Approved</span>
                            <span ng-if="item.approved == false"  class="label label-danger">Rejected</span>
                            <span ng-if="item.approved == undefined"  class="label label-warning">Pending</span></td>
                        <td><div><a class="edit btn btn-sm btn-default" href="javascript:;" ng-click="open(item)" ng-disabled="btnPressed"><i class="icon-note" ></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;" ng-click="remove(item)" ng-disabled="btnPressed"><i class="icons-office-52"></i></a></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="copyright">
        <p class="pull-left sm-pull-reset">
            <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
            <span>Trendi</span>.
            <span>All rights reserved. </span>
        </p>
        <p class="pull-right sm-pull-reset">
            <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
        </p>
    </div>
</div>