<div>
    <button class="btn btn-success" ng-click="addNew()">
        <i class="icon-plus"></i> Add New Album
    </button>
    <table  class="table table-hover table-dynamic">
        <thead>
        <tr>
            <th><button class="btn btn-warning" ng-click="refresh()">
                <i class=".icon-plus"></i> Reset Filters
            </button>
            </th>
            <th class="sorting"  rowspan="1" colspan="1"  style="width: 196px;">
                Product Id<input type="text" ng-keypress="searchPress($event)" class="form-control" placeholder="Filter By Product Id" ng-model="search['itemId']"></th>
            <th class="sorting" rowspan="1" colspan="1" style="width: 196px;">
                Product Name<input type="text" ng-keypress="searchPress($event)"  class="form-control" placeholder="Filter By Name" ng-model="search['item.name']"></th>
            <th class="sorting" rowspan="1" colspan="1"  style="width: 196px;">
                Status <select ng-model="search['approved']" class="form-control form-filter srch-select-opt">
                <option value="">---All---</option>
                <option value=true>Approved</option>
                <option value=undefined>Pending</option>
                <option value=false>Rejected</option>
            </select></th>
            <th><button class="btn btn-primary" ng-click="searchPress({},true)">
                <i class="..icon-magnifier"></i> Search in Advance
            </button>
            </th>
        </tr>
        </thead>
        <tbody infinite-scroll='paginationFuntion()' infinite-scroll-distance='0.01'>
        <tr ng-repeat="album in albumList | searchFilter:search">
            <td><span class="pull-left p-r-5">{{ album.name }}</span></td>
            <td>{{ album.albumId }}</td>
            <td>{{ album.name }}</td>
            <td><span ng-if="album.approved == true"  class="label label-success">Approved</span>
                <span ng-if="album.approved == false"  class="label label-danger">Rejected</span>
                <span ng-if="album.approved == undefined"  class="label label-warning">Pending</span></td>
            <td><div><a class="edit btn btn-sm btn-default" href="javascript:;" ng-click="open(album)"><i class="icon-note" ></i></a>  <a class="delete btn btn-sm btn-danger" href="javascript:;" ng-click="remove(album)"><i class="icons-office-52"></i></a></div></td>
        </tr>
        </tbody>
    </table>
</div>