<div class="modal-header">
    <div class="panel-header">
        <h3> <strong>Compose</strong> Mail </h3>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form role="form" class="form-validation" novalidate=""  name="itemForm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">To</label>
                                            <div class="append-icon">
                                                <input ng-model="mail.to" name="to" type="email" ng-required="true" class="form-control">
                                                <i class="fa fa-code-fork"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Subject</label>
                                            <div class="append-icon">
                                                <input ng-model="mail.subject" name="subject" type="text"  class="form-control">
                                                <i class="fa fa-code-fork"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div><div text-angular="text-angular" name="message" ng-model="mail.message" ta-disabled='false'></div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center  m-t-20">
                                    <div>
                                        <button  class="btn btn-primary" ng-disabled="(itemForm.$invalid || sendClicked)" ng-click="send()">
                                            Send
                                        </button>
                                        <button ng-click="cancel()" class="btn btn-white">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">

</div>