<div class="modal-header">
    <div class="panel-header">
        <h3> <strong>Promotion</strong> Details <span ng-if="approved == true"  class="label label-success">Approved</span>
            <span ng-if="approved == false"  class="label label-danger">Rejected</span></h3><span ng-if="promotionId">Promotion Id #{{promotionId}}</span>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form role="form" class="form-validation" novalidate=""  name="itemForm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Title</label>
                                            <div class="append-icon">
                                                <input type="text"  class="form-control" placeholder="Ex : Maxi dress.." ng-model="blog.title" name="name"  ng-required="true">
                                                <i class="icons-shopping-13"></i>
                                                <div ng-messages="itemForm.name.$error">
                                                    <div ng-message="required">This is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Posted Date</label>
                                            <div class="append-icon">
                                                <label class="form-control">{{blog.date | date:'yyyy-MM-dd'}}  <i class="fa fa-calendar"></i></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Description</label>
                                            <div><div text-angular="text-angular" ng-model="blog.contents" ta-disabled='false'></div></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <trendi-file-upload files="uploadedImages" image-size="blogImageSize"  image-count="blogImageCount"></trendi-file-upload>
                                    </div>
                                </div>
                                <div class="text-center  m-t-20">
                                    <div ng-if="addNewBlog">
                                        <button  class="btn btn-primary" ng-disabled="(itemForm.$invalid || uploadedImages.length == 0) || btnPressed" ng-click="save()">
                                            Save
                                        </button>
                                        <button ng-click="cancel()" class="btn btn-white">
                                            Close
                                        </button>
                                    </div>
                                    <div ng-if="!addNewBlog">
                                        <button class="btn btn-primary" ng-disabled="(itemForm.$invalid || uploadedImages.length == 0) || btnPressed" ng-click="update()">
                                            Update
                                        </button>
                                         <button ng-if="!approved || approved == undefined" class="btn btn-warning" ng-disabled="(itemForm.$invalid || uploadedImages.length == 0) || btnPressed" ng-click="approveReject(true)">
                                            Approve
                                        </button>
                                        <button ng-if="approved || approved == undefined" class="btn btn-danger" ng-disabled="(itemForm.$invalid || uploadedImages.length == 0) || btnPressed" ng-click="approveReject(false)">
                                            Reject
                                        </button>
                                        <button ng-click="cancel()" class="btn btn-white">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">

</div>