<div class="modal-header">
    <div class="panel-header">
        <h3> <strong>Branch</strong> Details </h3><span ng-if="branchId != undefined">Branch Id #{{branchId}}</span>
    </div>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form role="form" class="form-validation" novalidate=""  name="itemForm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Branch Name</label>
                                            <div class="append-icon">
                                                <input type="text"  class="form-control" placeholder="Ex : Trendi.." ng-model="branch.name" name="branchName"  ng-required="true">
                                                <i class="fa fa-code-fork"></i>
                                                <div ng-messages="itemForm.branchName.$error">
                                                    <div ng-message="required">This is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Mobile</label>
                                            <div class="append-icon">
                                                <input type="number"  class="form-control" ng-model="branch.mobile" name="mobile">
                                                <i class="fa fa-mobile"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Hotline</label>
                                            <div class="append-icon">
                                                <input type="number"  class="form-control" ng-model="branch.hotline" name="hotline">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Description</label>
                                            <div class="append-icon">
                                                <textarea rows="7" class="form-control" placeholder="Write your description... (maximum 200 characters)" maxlength="200" ng-required="true" name="description" ng-model="branch.description"></textarea>
                                                <i class="fa fa-info-circle"></i>
                                            </div>
                                            <div ng-messages="itemForm.description.$error">
                                                <div ng-message="required">This is required.</div>
                                                <div ng-message="maxlength">The description has to be less than 200 characters long.</div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-header">
                                                <h3>Address</h3>
                                            </div>
                                            <div class="panel-content">
                                                <div class="form-group">
                                                    <label class="control-label">Street 1 </label>
                                                    <div class="append-icon">
                                                        <input class="form-control" ng-model="branch.address.line1" type="text" ng-required="true" name="Street">
                                                        <i class="fa fa-home"></i>
                                                        <div ng-messages="itemForm.Street.$error">
                                                            <div ng-message="required">This is required.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Street 2 </label>
                                                    <div class="append-icon">
                                                        <input class="form-control" ng-model="branch.address.line2" type="text" name="street2">
                                                        <i class="fa fa-road"></i>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">City </label>
                                                    <div class="append-icon">
                                                        <input class="form-control" ng-model="branch.address.city" type="text" ng-required="true" name="city">
                                                        <i class="fa fa-map-marker"></i>
                                                        <div ng-messages="itemForm.city.$error">
                                                            <div ng-message="required">This is required.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">State </label>
                                                    <div class="append-icon">
                                                        <input class="form-control" ng-model="branch.address.state" type="text"  name="state">
                                                        <i class="fa fa-university"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel">
                                            <div class="panel-header">
                                                <h3><i class="icon-list"></i> <strong>User</strong> List</h3>
                                                <div class="control-btn">
                                                    <span class="pull-right badge badge-primary">{{userList.length}}</span>
                                                </div>
                                            </div>
                                            <div class="panel-content widget-news">
                                                <div class="withScroll" height="400">
                                                    <a class="message-item media" ng-repeat="user in userList">
                                                        <div class="media">
                                                            <div class="media-body">
                                                                <div class="pull-left p-r-10">
                                                                    <img alt="{{ user.name }}" ng-src="{{user.profilePic}}" class="table-img-icon" />
                                                                </div>
                                                                <div>
                                                                    <small class="pull-right">{{user.mobile}}</small>
                                                                    <h4 class="c-dark">{{user.name}}</h4>
                                                                    <p class="f-14 c-gray">{{user.email}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-header">
                                                <h3><strong>Branch</strong> Icon Image</h3>
                                            </div>
                                            <div class="panel-content">
                                                <div>
                                                    <trendi-file-upload files="tmp.iconImage" image-size="iconSize" image-count="1"></trendi-file-upload>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div ng-if="initMap">
                                            <trendi-map get-point="branch.pos"></trendi-map>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center  m-t-20">
                                    <div ng-if="addNewBranch">
                                        <button  class="btn btn-primary" ng-disabled="(itemForm.$invalid ||btnPressed)" ng-click="save()">
                                            Save
                                        </button>
                                        <button ng-click="cancel()" class="btn btn-white">
                                            Close
                                        </button>
                                    </div>
                                    <div ng-if="!addNewBranch">
                                        <button class="btn btn-primary" ng-disabled="(itemForm.$invalid || btnPressed)" ng-click="update()">
                                            Update
                                        </button>
                                        <button ng-click="cancel()" class="btn btn-white">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">

</div>